/*COLOR*/
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clear {
  clear: both; }

a {
  outline: none; }

form, input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'NiveaOTFBook', Arial, Helvetica, sans-serif;
  color: #575859; }

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/*paramater*/
/* #Clearing
================================================== */
/* Self Clearing Goodness */
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

.row:after,
.clearfix:after {
  clear: both; }

.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0; }

/* ! PRIMARY STYLES */
html, body {
  width: 100%;
  min-width: 640px; }

body {
  font: normal 14px/1.2 "Montserrat", sans-serif;
  color: #303030;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a {
  text-decoration: none; }

.clear {
  clear: both; }

.content700 {
  width: 700px; }

.content820 {
  width: 820px; }

.content890 {
  width: 890px; }

.content940 {
  width: 940px; }

.wrapper {
  width: 100%;
  margin: 0 auto;
  position: relative; }

.container {
  width: 1200px;
  margin: 0 auto; }

.align-center {
  text-align: center; }

.btn {
  float: left;
  color: #171920;
  font-size: 18px;
  border-radius: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background: #b4791a;
  background: -moz-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #b4791a), color-stop(32%, #ffe65a), color-stop(51%, #ffeb88), color-stop(52%, #ffeb85), color-stop(65%, #ffe65a), color-stop(100%, #b4791a));
  background: -webkit-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
  background: -o-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
  background: -ms-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
  background: linear-gradient(to right, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4791a', endColorstr='#b4791a', GradientType=1 );
  background-size: cover;
  width: 140px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s; }

.homeTask {
  background: url(../images/bg-1.png) no-repeat;
  background-size: cover;
  min-height: 635px;
  width: 100%;
  position: relative;
  margin-top: -125px; }
  .homeTask .navigation {
    padding-top: 163px; }
    .homeTask .navigation .btn {
      background: #fff;
      margin-right: 16px;
      font-size: 16px;
      height: 45px;
      line-height: 47px;
      min-width: 224px; }
      .homeTask .navigation .btn span {
        width: 29px;
        height: 31px;
        padding-left: 45px;
        padding-top: 5px;
        padding-bottom: 5px; }
      .homeTask .navigation .btn:hover {
        background: #b4791a;
        background: -moz-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, #b4791a), color-stop(32%, #ffe65a), color-stop(51%, #ffeb88), color-stop(52%, #ffeb85), color-stop(65%, #ffe65a), color-stop(100%, #b4791a));
        background: -webkit-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
        background: -o-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
        background: -ms-linear-gradient(left, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
        background: linear-gradient(to right, #b4791a 0%, #ffe65a 32%, #ffeb88 51%, #ffeb85 52%, #ffe65a 65%, #b4791a 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4791a', endColorstr='#b4791a', GradientType=1 ); }
      .homeTask .navigation .btn.item1 span {
        background: url(../images/icon-luotsong.png) no-repeat left center; }
      .homeTask .navigation .btn.item2 span {
        background: url(../images/icon-tradecoin.png) no-repeat left center; }
      .homeTask .navigation .btn.item3 span {
        background: url(../images/icon-holdcoin.png) no-repeat left center; }
      .homeTask .navigation .btn.item4 span {
        background: url(../images/icon-ico.png) no-repeat left center; }
      .homeTask .navigation .btn.item5 span {
        background: url(../images/icon-muacoin.png) no-repeat left center; }
    .homeTask .navigation:after {
      content: "";
      clear: both; }
  .homeTask .taskContent {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    width: 72%;
    display: table;
    padding-top: 60px;
    margin: 0 auto; }
    .homeTask .taskContent p {
      font-size: 18px;
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      color: #fff;
      padding-bottom: 25px; }

.commonTitle {
  font-size: 48px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  color: #303030;
  padding-bottom: 28px; }

.progressBg {
  position: relative; }
  .progressBg:after {
    background: url(../images/bg-quitrinh.png) no-repeat bottom center;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 552px;
    background-size: cover;
    width: 100%;
    z-index: -1; }

.advantage {
  position: relative; }
  .advantage .threeBlock {
    margin-top: 77px; }
    .advantage .threeBlock:after {
      content: "";
      clear: both; }
    .advantage .threeBlock .blockheader {
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 15px;
      margin-bottom: 3px; }
      .advantage .threeBlock .blockheader h4 {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        padding: 28px 0;
        padding-left: 94px; }
      .advantage .threeBlock .blockheader.free h4 {
        background: url(../images/thanhvien-1.png) no-repeat left center; }
      .advantage .threeBlock .blockheader.normal h4 {
        background: url(../images/thanhvien-2.png) no-repeat left center; }
      .advantage .threeBlock .blockheader.vip h4 {
        background: url(../images/thanhvien-3.png) no-repeat left center; }
    .advantage .threeBlock .options ul li {
      background: url(../images/icon-check.png) no-repeat left top;
      padding-left: 33px;
      margin-top: 25px;
      line-height: 1.4; }
    .advantage .threeBlock .blockCol {
      float: left;
      width: 26%;
      padding: 18px;
      min-height: 514px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      border-radius: 8px; }
      .advantage .threeBlock .blockCol.col1 {
        background: url(../images/bg-thanhvien-1.png) no-repeat left bottom; }
      .advantage .threeBlock .blockCol.col2 {
        margin: 0 6.5%;
        background: url(../images/bg-thanhvien-2.png) no-repeat left bottom; }
      .advantage .threeBlock .blockCol.col3 {
        background: url(../images/bg-thanhvien-3.png) no-repeat left bottom; }

.clear {
  clear: both; }

.registerProcess {
  margin-top: 125px; }
  .registerProcess .fiveBlock .blockCol {
    text-align: center; }
    .registerProcess .fiveBlock .blockCol:after {
      content: "";
      background: url(../images/icon-arrow.png) no-repeat;
      width: 17px;
      height: 32px;
      float: left;
      margin: 70px 30px; }
    .registerProcess .fiveBlock .blockCol .blockheader {
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      border-radius: 8px;
      float: left;
      width: 177px;
      min-height: 177px; }
    .registerProcess .fiveBlock .blockCol h4 {
      padding-top: 117px;
      font-size: 18px;
      margin-top: 23px; }
    .registerProcess .fiveBlock .blockCol.col1 h4 {
      background: url(../images/icon-dangky.png) no-repeat top center; }
    .registerProcess .fiveBlock .blockCol.col2 h4 {
      background: url(../images/icon-nhankeo.png) no-repeat top center; }
    .registerProcess .fiveBlock .blockCol.col3 h4 {
      background: url(../images/icon-daotao.png) no-repeat top center; }
    .registerProcess .fiveBlock .blockCol.col4 h4 {
      background: url(../images/icon-nhankeo.png) no-repeat top center; }
    .registerProcess .fiveBlock .blockCol.col5 h4 {
      background: url(../images/icon-giaoluu.png) no-repeat top center;
      padding-top: 100px; }
    .registerProcess .fiveBlock .blockCol.col5:after {
      display: none; }

.registerButton {
  text-align: center;
  margin: 88px auto 239px;
  display: table; }
  .registerButton a.btn {
    font-size: 18px;
    height: 49px;
    width: auto;
    min-width: 242px;
    line-height: 49px; }
    .registerButton a.btn:hover {
      opacity: 0.7; }

.tradeLists {
  background: url(../images/bg-danhsachkeo.png) no-repeat;
  background-size: cover;
  margin-top: -8%;
  padding-top: 90px;
  color: #fff;
  min-height: 1000px; }
  .tradeLists .commonTitle {
    color: #fff;
    padding-top: 15px;
    margin-top: 40px; }
  .tradeLists .tradeTable {
    padding-top: 22px; }
    .tradeLists .tradeTable .col {
      float: left; }
      .tradeLists .tradeTable .col.col1 {
        width: 150px;
        padding-left: 20px; }
      .tradeLists .tradeTable .col.col2 {
        width: 385px; }
      .tradeLists .tradeTable .col.col3 {
        width: 210px; }
      .tradeLists .tradeTable .col.col4 {
        width: 160px; }
      .tradeLists .tradeTable .col.col5 {
        width: 140px; }
      .tradeLists .tradeTable .col.col6 {
        width: 125px; }
    .tradeLists .tradeTable .tradeTitle {
      float: left;
      width: 100%;
      padding-bottom: 17px; }
      .tradeLists .tradeTable .tradeTitle .col {
        font-size: 18px;
        font-weight: 700; }
  .tradeLists .tradeContent .tradeRow {
    border-top: 1px solid #d1d1d1;
    float: left;
    width: 100%;
    padding-top: 17px;
    padding-bottom: 17px; }
    .tradeLists .tradeContent .tradeRow .col1 {
      padding-top: 7px; }
      .tradeLists .tradeContent .tradeRow .col1 span {
        padding: 5px 0 5px 38px; }
      .tradeLists .tradeContent .tradeRow .col1 span.active {
        background: url(../images/icon-active.png) no-repeat left center; }
      .tradeLists .tradeContent .tradeRow .col1 span.done {
        background: url(../images/icon-check.png) no-repeat left center; }
    .tradeLists .tradeContent .tradeRow .col2 {
      padding-top: 7px; }
    .tradeLists .tradeContent .tradeRow .col3, .tradeLists .tradeContent .tradeRow .col4 {
      font-weight: 700; }
    .tradeLists .tradeContent .tradeRow .col3 span {
      padding-left: 10px;
      width: 68px;
      height: 25px;
      line-height: 25px;
      display: inline-block;
      text-align: left;
      border-radius: 4px;
      margin-left: 0; }
    .tradeLists .tradeContent .tradeRow .col3 .green {
      text-align: center;
      background: #12d112;
      color: #fff; }
    .tradeLists .tradeContent .tradeRow .col3 .red {
      text-align: center;
      background: #ff0000;
      color: #fff; }
    .tradeLists .tradeContent .tradeRow .col4 span {
      font-weight: 700;
      line-height: 25px; }
      .tradeLists .tradeContent .tradeRow .col4 span.green {
        color: #12d112;
        background: url(../images/blue-arrow.png) no-repeat right center;
        padding-right: 28px; }
      .tradeLists .tradeContent .tradeRow .col4 span.red {
        color: #ff0000;
        background: url(../images/red-arrow.png) no-repeat right center;
        padding-right: 28px; }
    .tradeLists .tradeContent .tradeRow .col5 {
      padding-top: 7px; }
    .tradeLists .tradeContent .tradeRow .col6 {
      font-size: 12px;
      text-align: right; }
      .tradeLists .tradeContent .tradeRow .col6 .fa-star {
        font-size: 13px;
        margin-left: 5px; }

.rating {
  margin-top: 3px; }
  .rating.default {
    pointer-events: none;
    margin-right: -17px; }

.tradeCoin {
  position: relative;
  padding-top: 76px; }
  .tradeCoin .commonTitle {
    font-size: 36px; }
  .tradeCoin:before {
    content: "";
    position: absolute;
    background: url(../images/bg-luoi.png) no-repeat top center;
    background-size: cover;
    top: -155px;
    left: 0;
    width: 100%;
    height: 365px;
    z-index: -1; }
  .tradeCoin .tradeCoinContent .bigThumb {
    width: 50%;
    float: left; }
  .tradeCoin .tradeCoinContent .rightTrade {
    width: 47%;
    float: left;
    margin-left: 3%; }
    .tradeCoin .tradeCoinContent .rightTrade h3 {
      font-size: 24px;
      font-weight: 700;
      text-transform: uppercase;
      padding-top: 8px; }
    .tradeCoin .tradeCoinContent .rightTrade h4 {
      font-size: 18px;
      font-weight: 700;
      padding-top: 20px; }
    .tradeCoin .tradeCoinContent .rightTrade ul li {
      background: url(../images/icon-black-check.png) no-repeat left top;
      padding-left: 35px;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-top: 10px; }
    .tradeCoin .tradeCoinContent .rightTrade a.btn {
      font-size: 16px;
      font-weight: 700; }
      .tradeCoin .tradeCoinContent .rightTrade a.btn:hover {
        opacity: 0.7; }
  .tradeCoin .tradeCoinContent .presentBox {
    margin-top: 17px;
    padding-bottom: 8px; }
    .tradeCoin .tradeCoinContent .presentBox .person {
      float: left;
      width: 40%; }
      .tradeCoin .tradeCoinContent .presentBox .person .avatar {
        float: left;
        width: 94px; }
      .tradeCoin .tradeCoinContent .presentBox .person .info {
        float: left;
        margin-left: 23px;
        padding-top: 28px; }
        .tradeCoin .tradeCoinContent .presentBox .person .info .name {
          font-size: 18px; }
        .tradeCoin .tradeCoinContent .presentBox .person .info .rating {
          margin: 0; }
          .tradeCoin .tradeCoinContent .presentBox .person .info .rating .fa-star.first {
            display: none; }
  .tradeCoin .tradeCoinContent .timeRange {
    margin-bottom: 22px; }
    .tradeCoin .tradeCoinContent .timeRange .time {
      margin-top: 11px;
      margin-bottom: 5px;
      padding: 5px 0;
      padding-left: 32px;
      background: url(../images/icon-calendar.png) no-repeat left center; }
    .tradeCoin .tradeCoinContent .timeRange .location {
      padding: 5px 0;
      padding-left: 32px;
      background: url(../images/icon-map.png) no-repeat left center; }

.memberBox {
  margin-top: 124px;
  padding-bottom: 147px; }
  .memberBox .memberCol {
    width: 50%;
    float: left; }
    .memberBox .memberCol h3 {
      font-size: 36px;
      margin-bottom: 48px; }
  .memberBox .newMember {
    width: 47%;
    margin-left: 3%; }
    .memberBox .newMember .memRow {
      border-bottom: 1px solid #d1d1d1;
      padding-bottom: 10px;
      margin-bottom: 10px; }
      .memberBox .newMember .memRow .avatar {
        width: 193px;
        margin-right: 0;
        padding-left: 28px; }
        .memberBox .newMember .memRow .avatar img {
          width: 36px;
          float: left;
          margin-right: 15px; }
        .memberBox .newMember .memRow .avatar span {
          display: inline-block;
          margin-top: 10px; }
      .memberBox .newMember .memRow .memberType {
        float: left; }
        .memberBox .newMember .memRow .memberType span {
          background-size: 25px;
          margin-top: 2px;
          display: inline-block;
          padding-left: 38px;
          padding-top: 5px;
          padding-bottom: 5px; }
          .memberBox .newMember .memRow .memberType span.free {
            background: url(../images/member-free.png) no-repeat left center; }
          .memberBox .newMember .memRow .memberType span.normal {
            background: url(../images/member-normal.png) no-repeat left center; }
          .memberBox .newMember .memRow .memberType span.vip {
            background: url(../images/member-vip.png) no-repeat left center; }
      .memberBox .newMember .memRow .date {
        float: right;
        margin-top: 5px; }
  .memberBox .topMod .topModWidth {
    width: 562px;
    margin-left: 0; }
  .memberBox .memRow {
    float: left;
    width: 100%;
    margin-bottom: 28px; }
    .memberBox .memRow .middle {
      display: table-cell;
      vertical-align: middle;
      height: 98px; }
    .memberBox .memRow .avatar {
      float: left;
      width: 94px;
      margin-right: 29px; }
    .memberBox .memRow .info {
      float: left;
      width: 145px; }
      .memberBox .memRow .info .name {
        font-size: 18px;
        padding-bottom: 7px; }
    .memberBox .memRow .medal {
      float: left;
      width: 58px; }
    .memberBox .memRow .amount {
      float: left; }
      .memberBox .memRow .amount .middle {
        width: 152px;
        text-align: right; }
      .memberBox .memRow .amount b {
        font-weight: 700;
        display: block; }
    .memberBox .memRow .point {
      float: right;
      font-size: 18px;
      font-weight: 700; }
      .memberBox .memRow .point span {
        background: #7fcd45;
        color: #fff;
        border-radius: 4px;
        padding: 10px 13px; }

.gradientText {
  text-align: center;
  background: linear-gradient(330deg, #b47a1a 0%, #ffe55a 30%, #ffec88 52%, #ffe55a 66%, #b47a1a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 36px;
  margin-bottom: 110px; }

.roadMap {
  background: url(../images/bg-doitac.png) no-repeat bottom center;
  background-size: cover;
  min-height: 1950px;
  margin-top: -12%;
  padding-top: 12%;
  color: #fff; }
  .roadMap h3 {
    padding-top: 100px;
    text-align: center;
    background: linear-gradient(330deg, #b47a1a 0%, #ffe55a 30%, #ffec88 52%, #ffe55a 66%, #b47a1a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    margin-bottom: 110px; }
  .roadMap .roadBox {
    position: relative;
    padding-top: 122px; }
    .roadMap .roadBox .lineProcess {
      width: 100%;
      height: 7px;
      background: url(../images/lineGradient.png) no-repeat; }
    .roadMap .roadBox .road {
      float: left;
      position: relative;
      width: 240px; }
      .roadMap .roadBox .road img {
        float: left;
        margin-right: 18px; }
      .roadMap .roadBox .road .roadInfo {
        float: left;
        width: 173px; }
        .roadMap .roadBox .road .roadInfo b {
          font-size: 18px;
          font-weight: 600;
          font-style: italic; }
      .roadMap .roadBox .road .arr {
        background: url(../images/arrow-white.png) no-repeat;
        width: 18px;
        height: 18px;
        position: absolute; }
      .roadMap .roadBox .road.r01 {
        padding-top: 27px; }
        .roadMap .roadBox .road.r01 .arr {
          top: -13px; }
        .roadMap .roadBox .road.r01 .roadInfo {
          width: 155px; }
      .roadMap .roadBox .road.r02 {
        margin-top: -111px;
        margin-left: -80px;
        width: 287px; }
        .roadMap .roadBox .road.r02 .roadInfo {
          width: 200px; }
        .roadMap .roadBox .road.r02 .arr {
          bottom: -47px;
          left: 53px; }
      .roadMap .roadBox .road.r03 {
        padding-top: 27px;
        margin-left: 97px; }
        .roadMap .roadBox .road.r03 .roadInfo {
          width: 168px; }
        .roadMap .roadBox .road.r03 .arr {
          top: -13px;
          left: 75px; }
      .roadMap .roadBox .road.r04 {
        margin-top: -111px;
        margin-left: -60px; }
        .roadMap .roadBox .road.r04 .roadInfo {
          width: 168px; }
        .roadMap .roadBox .road.r04 .arr {
          bottom: -47px;
          left: 75px; }
      .roadMap .roadBox .road.r05 {
        padding-top: 27px;
        margin-left: 130px; }
        .roadMap .roadBox .road.r05 .roadInfo {
          width: 168px; }
        .roadMap .roadBox .road.r05 .arr {
          top: -13px;
          left: 75px; }
      .roadMap .roadBox .road.r06 {
        margin-top: -111px;
        margin-left: -10px; }
        .roadMap .roadBox .road.r06 .arr {
          bottom: -47px;
          left: 65px; }

.teamMembers .gradientText {
  margin-bottom: 60px; }
.teamMembers .col {
  float: left;
  text-align: center;
  width: 25%;
  margin-bottom: 25px; }
  .teamMembers .col .bgAvatar {
    background: url(../images/bg-teammember.png) no-repeat 12px center;
    min-height: 276px; }
    .teamMembers .col .bgAvatar .avatar {
      margin-top: 70px;
      display: inline-block; }
  .teamMembers .col .memberName {
    font-size: 18px;
    text-transform: uppercase; }

.partnerSlider {
  width: 1024px;
  margin: 0 auto; }
  .partnerSlider .slick-arrow {
    position: absolute;
    top: 25px; }
    .partnerSlider .slick-arrow.slick-prev {
      background: url(../images/partner-arrow-left.png) no-repeat;
      border: none;
      text-indent: -99999px;
      left: -50px; }
    .partnerSlider .slick-arrow.slick-next {
      right: 0;
      background: url(../images/partner-arrow-right.png) no-repeat;
      border: none;
      text-indent: -99999px;
      right: -50px; }

.newsList {
  padding-bottom: 150px; }
  .newsList h3 {
    color: #212121;
    font-size: 36px;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 75px; }
  .newsList .publicActions {
    padding-top: 95px; }
  .newsList a.btn {
    display: table;
    margin: 0 auto;
    float: none; }
  .newsList .threeBlock {
    margin-bottom: 35px; }
    .newsList .threeBlock .blockCol {
      float: left;
      width: 26%;
      padding: 18px;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
      border-radius: 8px; }
      .newsList .threeBlock .blockCol.col2 {
        margin: 0 6.5%; }
      .newsList .threeBlock .blockCol .desc {
        padding-top: 20px; }
        .newsList .threeBlock .blockCol .desc p {
          color: #212121;
          font-size: 14px;
          padding-bottom: 20px; }
          .newsList .threeBlock .blockCol .desc p:last-child {
            padding-bottom: 0; }

.commingSoon {
  background: url(../images/bg-commingsoon.png) no-repeat;
  background-size: cover;
  min-height: 761px;
  margin-top: -10%;
  position: relative;
  z-index: 1; }
  .commingSoon .commingBox {
    padding-top: 17%;
    margin: 0 auto;
    width: auto;
    display: table; }
  .commingSoon .googlePlay {
    display: table;
    margin: 30px auto 0; }
    .commingSoon .googlePlay a {
      background: url(../images/googleplay.png) no-repeat left center;
      width: 210px;
      height: 62px;
      float: left; }
      .commingSoon .googlePlay a.ap {
        background-position: right 0; }

.homeSlider .slick-slide {
  width: 100%;
  height: 100vh;
  background-position: 50% 50%;
  background-size: cover;
  min-height: 550px; }
  .homeSlider .slick-slide:focus {
    outline: none; }
  .homeSlider .slick-slide img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto; }
  .homeSlider .slick-slide .slide-box {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 40vh;
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: #fff; }
.homeSlider .slick-dots {
  position: absolute;
  bottom: 13vh;
  width: 100%;
  text-align: center;
  z-index: 10; }
  .homeSlider .slick-dots li {
    margin: 0 10px;
    display: inline-block; }
    .homeSlider .slick-dots li.slick-active button {
      background: #bc8621; }
    .homeSlider .slick-dots li button {
      background: #fff;
      border-radius: 50%;
      width: 12px;
      padding: 0;
      text-indent: -99999px;
      height: 12px;
      outline: none;
      border: none; }

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  header a.logo {
    background: url(../images/logo.png) no-repeat;
    width: 228px;
    height: 60px;
    display: inline-block;
    margin-top: 24px; }
  header nav {
    float: right;
    margin-top: 25px; }
    header nav ul li {
      float: left;
      margin: 0 13px; }
      header nav ul li a.news {
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 400;
        color: #fff;
        position: relative;
        top: 10px;
        margin-right: 4px; }
        header nav ul li a.news:hover {
          background: transparent;
          color: #efcf75; }
      header nav ul li a:hover {
        background: #fff; }
  header a.language {
    float: right;
    width: 26px;
    height: 26px;
    margin-top: 31px;
    margin-left: 12px; }
    header a.language.en {
      background: url(../images/icon-english.png) no-repeat; }

footer {
  background: url(../images/bg-footer.png) no-repeat bottom center #171920;
  min-height: 875px;
  margin-top: -10%;
  padding-top: 10%; }
  footer .subscribeBox {
    margin-top: 197px;
    text-align: center; }
  footer .subscribeForm {
    display: table;
    width: auto;
    margin: 49px auto 0; }
    footer .subscribeForm input[type="text"] {
      background: #292a30;
      border: none;
      outline: none;
      height: 49px;
      width: 470px;
      padding-left: 38px;
      border-radius: 22px;
      float: left;
      margin-right: 22px;
      color: #fff;
      font-size: 15px;
      font-family: 'Open Sans', sans-serif;
      font-weight: 400; }
    footer .subscribeForm .btn {
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      height: 49px; }
  footer .social {
    display: table;
    width: auto;
    margin: 70px auto 0;
    text-align: center; }
    footer .social .socialBox {
      margin-top: 45px; }
      footer .social .socialBox a {
        width: 57px;
        height: 57px;
        display: inline-block;
        background: url(../images/fb.png) no-repeat;
        margin: 0 25px; }
        footer .social .socialBox a.tw {
          background: url(../images/tw.png) no-repeat; }
        footer .social .socialBox a.fly {
          background: url(../images/fly.png) no-repeat; }
        footer .social .socialBox a.cat {
          background: url(../images/cat.png) no-repeat; }
        footer .social .socialBox a.message {
          background: url(../images/message.png) no-repeat; }
  footer .copyright {
    color: #fff;
    font-size: 16px;
    text-align: center;
    margin-top: 60px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/*# sourceMappingURL=all.css.map */
