.homeSlider {
    .overlay{
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }
    .video-js {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .slick-slide {
        width: 100%; // or maybe 100vw
          height: 100vh; // make sure whole of window is covered
          background-position: 50% 50%; // center the image
          background-size: cover; // cover, not contain!
          min-height: 550px;
          &:focus{
              outline: none;
          }
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
        }
        .slide-box {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 40vh;
            font-size: 44px;
            font-family: 'Montserrat-Regular', sans-serif;
            font-weight: 400;
            color: #fff;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 13vh;
        width: 100%;
        text-align: center;
        z-index: 10;
        li {
            margin: 0 10px;
            display: inline-block;
            &.slick-active {
                button {
                    background: #bc8621;
                }
            }
            button {
                background: #fff;
                border-radius: 50%;
                width: 12px;
                padding: 0;
                text-indent: -99999px;
                height: 12px;
                outline: none;
                border: none;
            }
        }
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    a.logo {
        background: url(../images/logo.png) no-repeat;
        width: 228px;
        height: 60px;
        display: inline-block;
        margin-top: 24px;
    }
    nav {
        float: right;
        margin-top: 25px;
        ul {
            li {
                float: left;
                margin: 0 13px;
                a.news {
                    font-size: 18px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    color: #fff;
                    position: relative;
                    top: 10px;
                    margin-right: 4px;
                    &:hover{
                        background: transparent;
                        color: #efcf75;
                    }
                }
                a {
                    &:hover {
                        background: #fff;
                    }
                }

            }
        }
    }
        .language{
        float: right;
        margin-top: 22px;
        margin-left: 12px;
        &.en {
            background: url(../images/icon-english.png) no-repeat;
        }
    }
}
.languagepicker {
	display: inline-block;
	padding: 0;
	height: 40px;
	transition: all .3s ease;
	margin: 0 0 10px 0;
	vertical-align: top;
    position: relative;
    width: 100px;
}

.languagepicker:hover {
	/* don't forget the 1px border */
    li {
        display: block;
    }
}

.languagepicker a{
	color: #fff;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	padding: 0px;
	line-height: 40px;
	border-top: 1px solid #EEE;
    position: absolute;
    top: 40px;
    display: none;

}

.languagepicker li:hover{
}

.languagepicker a:first-child li {
	border: none;
    position: relative;
    display: block;
    top: 0;
}

.languagepicker li img {
	margin-right: 5px;
    position: relative;
    top: 7px;
}
.videoBg {
    height: 100%;
}
.tradeCoinHeader, .memberHeader {
    position: relative;
    .tradeSearch {
        float: left;
        width: 790px;
        margin-top: 15px;
        margin-left: 45px;
        input[type="text"] {
            background: #4a5264;
            height: 35px;
            border-radius: 4px;
            padding-left: 15px;
            margin-left: 17px;
            width: 80%;
            color: #fff;
            outline: none;
        }
    }
    .infoTooltip {
        background: url(../images/icon-info.png) no-repeat;
        width: 31px;
        height: 31px;
        float: left;
    }
    .tradeLogo{
        float: left;
        margin-top: 25px;
    }
    .bgHeader {
        background: #272b3f;
        min-height: 66px;
    }
    .bgNavigation {
        background: #1d2131;
        min-height: 65px;
    }
    .userLogin {
        margin-top: 15px;
        width: 165px;
            float: right;
        text-align: right;
        .avatar {
            position: relative;
            overflow: hidden;
            background: #4a5264;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            float: right;
        }
        .userBox {
            float: right;
            margin-left: 10px;
            margin-top: 10px;
            a{
                color: #fff;
            }
            &>a {
                background: url(../images/arrow-down16.png) no-repeat right center;
                padding-right: 30px;
            }
        }
    }
    .navigationBar {
        display: inline-block;
        padding-top: 27px;
        li {
            display: inline-block;
            margin-right: 42px;
            a {
                color: #fff;
                padding-left: 30px;
                padding-top: 3px;
                padding-bottom: 3px;
                position: relative;
                padding-bottom: 21px;
                &.icon1{
                    background: url(../images/white-luotsong.png) no-repeat left top;
                }
                &.icon2{
                    background: url(../images/white-tradecoin.png) no-repeat left top;
                }
                &.icon3{
                    background: url(../images/white-holdcoin.png) no-repeat left top;
                }
                &.icon4{
                    background: url(../images/white-ico.png) no-repeat left top;
                }
                &.icon5{
                    background: url(../images/white-buycoin.png) no-repeat left top;
                }
            }
            &.current-menu-item, &:hover {
                a{
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -23px;
                        background: url(../images/nav-active.png) no-repeat bottom center;
                        width: 46px;
                        height: 4px;
                    }
                }
            }
        }
    }
}

.memberHeader {
    .language {
        margin-top: 12px;
    }
    .tradeLogo{
        margin-top: 3px;
        img {
            width: 218px;
        }
    }
    .buyBox {
        float: left;
        width: 680px;
        margin-left: 25px;
        .buyCol {
            float: left;
            width: 50%;
            padding-top: 24px;
            .title {
                font-size: 14px;
                color: #fff;
                padding-right: 8px;
            }
            .price {
                font-family: "Montserrat-Bold";
                padding-right: 8px;
            }
            a.btnBuy {
                font-size: 14px;
                color: #fff;
                background: #07bc36;
                border: 4px;
                padding: 8px 16px;
                text-transform: uppercase;

            }
            &.sale {
                .price {
                    color: #07bc36;
                }
            }
            &.buyNow {
                .price {
                    color: #f84c4c;
                }
                a.btnBuy {
                    background: #c10505;
                }
            }
        }
    }
}

.topSocials {
    margin-top: 17px;
    float: right;
    a {
        background: url(../images/fb.png) no-repeat;
        width: 32px;
        height: 32px;
        background-size: 32px!important;
        display: inline-block;
        margin-left: 10px;
        &.tw {
            background: url(../images/tw.png) no-repeat;
        }
    }
}
