.homeSlider {
    .overlay{
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 100%;
    }
    .video-js {
        position: fixed;
        width: 100%;
        height: 100%;
    }
    .slick-slide {
        width: 100%; // or maybe 100vw
          height: 100vh; // make sure whole of window is covered
          background-position: 50% 50%; // center the image
          background-size: cover; // cover, not contain!
          min-height: 550px;
          &:focus{
              outline: none;
          }
        img {
            max-width: 100%;
            max-height: 100%;
            display: block;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
        }
        .slide-box {
            position: absolute;
            width: 100%;
            text-align: center;
            top: 40vh;
            font-size: 44px;
            font-family: 'Montserrat-Regular', sans-serif;
            font-weight: 400;
            color: #fff;
        }
    }
    .slick-dots{
        position: absolute;
        bottom: 13vh;
        width: 100%;
        text-align: center;
        z-index: 10;
        li {
            margin: 0 10px;
            display: inline-block;
            &.slick-active {
                button {
                    background: #bc8621;
                }
            }
            button {
                background: #fff;
                border-radius: 50%;
                width: 12px;
                padding: 0;
                text-indent: -99999px;
                height: 12px;
                outline: none;
                border: none;
            }
        }
    }
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    a.logo {
        background: url(../images/logo.png) no-repeat;
        width: 228px;
        height: 60px;
        display: inline-block;
        margin-top: 24px;
    }
    nav {
        float: right;
        margin-top: 25px;
        ul {
            li {
                float: left;
                margin: 0 13px;
                a.news {
                    font-size: 18px;
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                    color: #fff;
                    position: relative;
                    top: 10px;
                    margin-right: 4px;
                    &:hover{
                        background: transparent;
                        color: #efcf75;
                    }
                }
                a {
                    &:hover {
                        background: #fff;
                    }
                }

            }
        }
    }
    a.language{
        float: right;
        width: 26px;
        height: 26px;
        margin-top: 31px;
        margin-left: 12px;
        &.en {
            background: url(../images/icon-english.png) no-repeat;
        }
    }
}

.tradeCoinHeader {
    position: relative;
    .tradeSearch {
        float: left;
        width: 790px;
        margin-top: 15px;
        margin-left: 45px;
        input[type="text"] {
            background: #4a5264;
            height: 35px;
            border-radius: 4px;
            padding-left: 15px;
            margin-left: 17px;
            width: 80%;
        }
    }
    .infoTooltip {
        background: url(../images/icon-info.png) no-repeat;
        width: 31px;
        height: 31px;
        float: left;
    }
    .tradeLogo{
        float: left;
        margin-top: 25px;
    }
    .bgHeader {
        background: #272b3f;
        min-height: 66px;
    }
    .bgNavigation {
        background: #1d2131;
        min-height: 65px;
    }
    .userLogin {
        margin-top: 15px;
        width: 165px;
            float: right;
        text-align: right;
        .avatar {
            position: relative;
            overflow: hidden;
            background: #4a5264;
            width: 36px;
            height: 36px;
            border-radius: 50%;
            float: right;
        }
        .userBox {
            float: right;
            margin-left: 10px;
            margin-top: 10px;
            a{
                color: #fff;
            }
            &>a {
                background: url(../images/arrow-down16.png) no-repeat right center;
                padding-right: 30px;
            }
        }
    }
    .navigationBar {
        padding-top: 27px;
        li {
            display: inline-block;
            margin-right: 42px;
            a {
                color: #fff;
                padding-left: 30px;
                padding-top: 3px;
                padding-bottom: 3px;
                position: relative;
                padding-bottom: 21px;
                &.icon1{
                    background: url(../images/white-luotsong.png) no-repeat left top;
                }
                &.icon2{
                    background: url(../images/white-tradecoin.png) no-repeat left top;
                }
                &.icon3{
                    background: url(../images/white-holdcoin.png) no-repeat left top;
                }
                &.icon4{
                    background: url(../images/white-ico.png) no-repeat left top;
                }
            }
            &.current-menu-item, &:hover {
                a{
                    &:after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        margin-left: -23px;
                        background: url(../images/nav-active.png) no-repeat bottom center;
                        width: 46px;
                        height: 4px;
                    }
                }
            }
        }
    }
}
