.holdCoin {
    &__content {
      .commonTitle {
        position: relative;
        background: url('../images/holdcoin_icon.png') left center no-repeat;
        padding-left: 45px;
        display: table;
        margin: 55px auto 40px;
        padding-bottom: 0;
      }
      &--type {
        margin-bottom: 35px;
        .navs {
          overflow: auto;
          &-scroll {
            width: 600px;
          }
          a {
            display: inline-block;
            padding: 10px 25px;
            text-transform: uppercase;
            font-weight: bold;
            font-family: 'Montserrat-Bold';
            border-radius: 3px;
            color: #2b2b2b;
            margin-left: 12px;
            border-top: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            -webkit-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 8px -1px rgba(0,0,0,0.75);
            background: #e6e4e4;
            position: relative;
            z-index: 1;
            &.active {
              background: #fff;
              color: #d5d5d5;
            }
            &:first-child {
              margin-left: 33px;
            }
          }
        }
        .decsription {
          border: 1px solid #eeeeee;
          -webkit-box-shadow: 1px 5px 15px -11px rgba(0,0,0,0.75);
          -moz-box-shadow: 1px 5px 15px -11px rgba(0,0,0,0.75);
          box-shadow: 1px 5px 15px -11px rgba(0,0,0,0.75);
          padding: 25px 22px;
          position: relative;
          border-radius: 3px;
          z-index: 2;
          background: #fff;
          .input_type {
            width: 242px;
            margin-right: 20px;
            display: inline-block;
            position: relative;
            margin-bottom: 10px;
            &:after {
              content: '';
              position: absolute;
              width: 16px;
              height: 10px;
              top: 16px;
              right: 7px;
              background: url('../images/arrow-down-gray1.jpg') no-repeat;
            }
            input, select {
              height: 40px;
              line-height: 40px;
            }
            select {
              text-transform: uppercase;
            }
            &.date {
              &:after {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                top: 13px;
                background: url('../images/icon-calendar1.png') no-repeat;
              }
            }
            &.list {
              width: 200px;
            }
          }
          a {
            color: #fff;
            font-weight: bold;
            text-transform: uppercase;
            background: #295395;
            padding: 13px 50px;
            display: inline-block;
          }
        }
      }
      &--article {
        margin-bottom: 70px;
        .col {
          margin-bottom: 30px;
          &-inner {
            border-radius: 2px;
            -webkit-box-shadow: 0px 1px 15px -5px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 1px 15px -5px rgba(0,0,0,0.75);
            box-shadow: 0px 1px 15px -5px rgba(0,0,0,0.75);
          }
          &-heading {
            background: #1d2131;
            padding: 19px 0 15px;
            text-align: center;
            color: #fff;
            h5 {
              font-weight: bold;
              font-size: 18px;
              margin-bottom: 7px;
            }
            p {
              display: table;
              margin: 0 auto 10px;
              padding-right: 16px;
              background: url('../images/fire.png') right center no-repeat;
              margin-bottom: 5px;
              &:last-child {
                margin-bottom: 0;
                padding-right: 25px;
                background: url('../images/icon-clock.png') right center no-repeat;
              }
            }
          }
          &-content {
            padding: 22px 0;
            text-align: center;
            max-width: 230px;
            width: 90%;
            margin: auto;
            p {
              margin-bottom: 20px;
            }
            .group-btn {
              text-align: center;
              a {
                padding: 8px 20px 8px 36px;
                color: #fff;
                border-radius: 2px;
                display: inline-block;
                &:first-child {
                  background: #ffae00 url('../images/icon-nguon.png') 15px center no-repeat;
                }
                &:last-child {
                  margin-right: 0;
                  background: #7fcd45 url('../images/icon-plus.png') 15px center no-repeat;
                }
              }
            }
          }
          &-last {
            border-top: 1px solid #ececec;
            display: table;
            width: 100%;
            .col-last-inner {
              padding: 13px 0;
              text-align: center;
              border-right: 1px solid #ececec;
              width: 50%;
              display: inline-block;
              float: left;
              p {
                margin: 6px 0 0;
              }
            }
            .col-last-inner:last-child {
              border: 0;
            }
          }
        }
        .paging {
          background: transparent;
        }
      }
    }
}
//holdcoin Detail
.holdCoinDetail {
  .bgWhite {
    background: #fff;
    padding: 33px;
    border-radius: 3px;
    margin: 40px 0 100px;
    -webkit-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 7px -2px rgba(0,0,0,0.75);
    .colLeft {
      padding-left: 0;
      margin-bottom: 50px;
      .boxAvatar {
        border: 1px solid #cccccc;
        border-radius: 2px;
        padding: 33px 0;
        text-align: center;
        width: 100%;
        margin-bottom: 20px;
      }
      h2 {
        text-align: center;
        color: #000;
        font-family: 'Montserrat-Bold';
        font-size: 22px;
        margin-bottom: 20px;
      }
      .group-btn {
        margin-bottom: 46px;
        a {
          display: block;
          margin-bottom: 12px;
          background: #7fcd45;
          color: #fff;
          padding: 12px 0;
          width: 100%;
          font-family: 'Montserrat-Bold';
          font-size: 14px;
          text-align: center;
          span {
            display: inline-block;
            width: 16px;
            height: 16px;
            background-size: cover;
            background: url(../images/icon-plus.png) no-repeat;
            margin-right: 8px;
            position: relative;
            top: 3px;
          }
          &:last-child {
            margin-bottom: 0;
            background: #ffae00;
            span {
              background: url(../images/icon-nguon.png) no-repeat;
              width: 14px;
              height: 14px;
              top: 1px;
            }
          }
        }
      }
      .joinGroup {
        margin-bottom: 30px;
        &__title {
          margin-bottom: 15px;
          display: table;
          width: 100%;
          h3 {
            font-family: 'Montserrat-Bold';
            font-size: 18px;
            display: inline-block;
            margin-right: 52px;
          }
          span {
            display: inline-block;
            padding: 10px 6px 10px 8px;
            border-radius: 3px;
            border: 1px solid #cccccc;
            position: relative;
            z-index: 1;
            &:before {
              content: '';
              width: 10px;
              height: 10px;
              border-radius: 2px;
              border: 1px solid #cccccc;
              position: absolute;
              left: -6px;
              top: 14px;
              transform: rotate(45deg);
              background: #fff;
              border-right: 0;
              border-top: 0;
            }
          }
        }
        &__members {
          display: flex;
          justify-content: space-around;
          flex-flow: row wrap;
          img {
            height: 50px;
            border-radius: 2px;
            overflow: hidden;
            margin-right: 16px;
            margin-bottom: 14px;
            &:nth-child(4n) {
              margin-right: 0;
            }
          }
        }
      }
      .theSame {
        h3 {
          font-family: 'Montserrat-Bold';
          font-size: 18px;
          margin-bottom: 13px;
        }
        &_common {
          position: relative;
          padding: 12px 0;
          cursor: pointer;
          border-bottom: 1px solid #cccccc;
          &:last-child {
            border-bottom: 0;
          }
          &:after {
            content: '';
            position: absolute;
            background: url('../images/plus.png') no-repeat;
            width: 16px;
            height: 16px;
            top: 24px;
            right: 0;
          }
          img {
            margin-right: 16px;
          }
          p {
            display: inline-block;
          }
          &.active:after {
            background: url('../images/icon-subtract.png') no-repeat;
          }
        }
        &--toggle {
          margin-left: 60px;
          padding-top: 6px;
          display: none;
          p {
            display: block;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .colRight {
      &__title {
        margin-bottom: 20px;
        h2 {
          display: inline-block;
          margin-right: 5px;
          font-family: 'Montserrat-Bold';
          font-size: 24px;
        }
        span {
          position: relative;
          font-family: 'Montserrat-Bold';
          font-size: 10px;
          color: #7fcd45;
          &:before {
            content: '';
            position: absolute;
            width: 22px;
            height: 10px;
            background: url('../images/arrow-green.png') no-repeat;
            top: -11px;
            left: 2px;
          }
        }
      }
      &__info {
        margin-bottom: 12px;
        .group {
          margin-right: 24px;
          display: inline-block;
          span {
            font-family: 'Montserrat-Bold';
            display: block;
            margin-bottom: 15px;
            display: table;
          }
          span:last-child {
            padding: 10px 18px;
            border: 1px solid #cccccc;
            border-radius: 2px;
          }
        }
      }
      &__tabs {
        margin-bottom: 15px;
        &--navs {
          margin-bottom: 0;
          height: 24px;
          li {
            display: inline-block;
            margin-right: 8px;
            a {
              padding: 8px 13px;
              border: 1px solid #cccccc;
              border-radius: 2px;
              border-bottom: 0;
              font-family: 'Montserrat-Bold';
              background: #ebebeb;
              color: #2b2b2b;
              cursor: pointer;
              &.active {
                color: #ffae00;
                background: #fff;
              }
            }
          }
        }
        &--content {
          padding: 22px 27px;
          border: 1px solid #cccccc;
          border-radius: 2px;
          position: relative;
          z-index: 9;
          .tabs {
            img.chart {
              width: 100%;
              margin-bottom: 25px;
            }
            h5 {
              font-size: 18px;
              font-family: 'Montserrat-Bold';
              margin-bottom: 16px;
            }
            p {
              margin-bottom: 30px;
              &:last-of-type {
                margin-bottom: 0;
              }
            }
            &.tab_events {
              .article {
                display: table;
                margin-bottom: 20px;
                img {
                  margin-right: 20px;
                  float: left;
                }
                .title-box {
                  float: left;
                  width: 84%;
                  h5 {
                    margin: 0;
                    a {
                      font-family: 'Montserrat-Bold';
                      font-size: 14px;
                      line-height: 1.3;
                      display: block;
                      color: #000;
                    }
                  }
                  span {
                    font-size: 12px;
                    display: block;
                    margin-bottom: 5px;
                  }
                  p {
                    font-size: 13px;
                  }
                }
              }
              .article_detail {
                .back {
                  font-family: 'Montserrat-Bold';
                  color: #000;
                  display: inline-block;
                  margin-bottom: 20px;
                }
                h5 {
                  font-family: 'Montserrat-Bold';
                  font-size: 18px;
                  margin-bottom: 10px;
                }
                span {
                  font-size: 12px;
                  margin-bottom: 18px;
                  display: inline-block;
                }
                .w100 {
                  width: 100%;
                }
                p {
                  margin-top: 30px;
                  margin-bottom: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
