
@media (min-width: 0) and (max-width: 767px) {
    .homeSlider {
        .slick-slide {
            .slide-box {
                font-size: 37px;
            }
        }
    }
    .container {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .homeTask {
        margin-top: -26%;
        min-height: 1057px;
        background-position: top center;
        .navigation {
            .btn {
                margin-bottom: 2%;
                width: 47%;
                margin-left: 1%;
                margin-right: 1%;
            }
        }
    }
    header {
        nav{
            float: none;
            display: table;
            margin: 15px auto 0;
            ul {
                li{
                    margin: 0 8px;
                    a.btn {
                        width: 110px;
                    }
                }
            }
        }
        .language  {

        }
    }
    .memberBox {
        .memberCol  {
            width: 100%;
            position: relative;
            overflow-x: auto;
            &.newMember {
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
    .advantage {
        .threeBlock {
            .blockCol {
                width: 90%;
                margin-bottom: 25px!important;
                &.col2 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    .registerProcess {
        .fiveBlock {
            .blockCol {
                &:after{
                    background: url(../images/icon-arrow-down.png) no-repeat center;
                    width: 100%;
                    height: 17px;
                    float: none;
                    display: table;
                    margin: 25px auto;
                }
                .blockheader {
                    display: table;
                    margin: 0 auto;
                    float: none;
                }

            }
        }
    }
    .tradeLists {
        margin-top: -80%;
        padding-top: 80%;
        min-height: 1200px;
        .tradeTable{
            float: left;
            width: 100%;
            position: relative;
            overflow-x: auto;
            .tradeTitle, .tradeContent{
                width: 1200px;
            }
        }
    }
    .tradeCoin {
        .tradeCoinContent {
            .bigThumb {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .rightTrade{
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .memberBox {
         .newMember {
             .memRow {
                 width: 560px;
             }
         }
        .newMemberScroll {
            float: left;
            width: 100%;
            overflow-x: auto;
        }
    }
    .roadMap {
        margin-top: -65%;
        min-height: 4600px;
        h3 {
            padding-top: 63%;
        }
        .roadBox {
            padding-top: 0;
            .lineProcess{
                display: none;
            }
            .road {

                width: 100%!important;
                padding-top: 0!important;
                margin-bottom: 27px!important;
                .arr{
                    display: none;
                }
                &.r02, &.r03, &.r04, &.r05,&.r06 {
                    margin: 0;
                }
                img {
                    min-width: 49px;
                }
                .roadInfo{
                    width: 74%!important;
                }
            }
        }
    }
    .teamMembers {
        h3 {
            padding-top: 100px;
        }
        .col {
            width: 100%;
            .bgAvatar{
                background-position: center;
            }
        }
    }
    .partnerSlider{
        width: 87%;
        .slick-slide {
            img{
                display: table;
                margin: 0 auto;
            }
        }
        .slick-arrow{
            &.slick-prev {
                left: -10px;
            }
            &.slick-next {
                right: -10px;
            }
        }
    }
    .newsList {
        .threeBlock {
            .blockCol {
                width: 90%;
                margin-bottom: 20px!important;
                &.col2 {
                    margin:0;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .commingSoon {
            margin-top: -50%;
        .commingBox {
            padding-top: 50%;
            img {
                width: 100%;
            }
            .googlePlay{

                a {
                    margin-bottom: 10px;
                    display: table;
                    float: none;
                }
            }
        }
    }
    footer {
        .subscribeBox {
            img {
                width: 100%;
            }
        }
        .subscribeForm {
            input[type="text"] {
                width: 90%;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}
@media (min-width: 0) and (max-width: 540px) {
    .homeTask {
        margin-top: -38%;
        .navigation {
            width: auto;

            .btn {
                display: table;
                margin: 0 auto 2%;
                float: none;
                width: 90%;
            }
        }
    }
}
