@media (min-width: 1199px) and (max-width: 1920px) {
  .newsList .threeBlock .blockCol img {
    width: 100%
  }

  .roadMap {
    min-height: 2060px;
  }
  .memberList .memberRight {
    width: 85%;
  }

}

@media (min-width: 767px) and (max-width: 1920px) {
  .memberList {
    margin-bottom: 17%;
  }
}


@media (min-width: 0) and (max-width: 767px) {
  .tradeDetail {
    .memberDescription {
      .memberDescription__left {
        width: 100%;
        .memberDescription__left--content {
          width: 100%;
          float: none;
        }
        img.avatar {
          float: none;
          display: table;
          margin: 0 auto 20px;
        }
      }
      .memberDescription__right {
        float: left;
        width: 100%;
        margin-top: 15px;
        text-align: left;
      }
    }
  }
    footer {
      .social .socialBox a {
        margin: 0 10px;
      }
      .social .socialBox a:first-child {
        margin: 0 10px 0 0;
      }
      .social .socialBox a:last-child {
        margin: 0 0 0 10px;
      }
    }
    video {
        width: auto!important;
    }
    .topSocials {
        float: left;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .memberList {
        .headerInformation {
            .memberAvatar {
                width: 100%;
                margin-right: 0;
                img {
                    display: table;
                    margin: 0 auto;
                }
            }
        }
        .memberRight {
            margin-top: 20px;
            .memberTop {
                .nameBox{
                    width: 100%;
                    margin-bottom: 25px;
                }
                .pointBox {
                    padding-left: 0;
                    width: auto;
                    display: table;
                    margin: 0 auto 25px;
                    float: none;
                }
                .pointPercent {
                    width: 100%;
                    padding-left: 0;
                    margin-left: 0;
                    .progressBar {
                        width: 100%;
                    }
                }
            }
            .memberMiddle {
                .floatLeft {
                    width: 100%;
                    margin-bottom: 15px;
                }
                .smallSocials {
                    a {
                        margin-left: 0;
                        margin-right: 15px;
                    }
                }
            }
            .memberBottom {
                .floatLeft {
                    width: 30%;
                    margin-right: 15px;
                    min-height: 50px;
                    margin-bottom: 20px;
                    &.morderate{
                        margin-right: 0;
                    }
                }
                .iconfollowers{
                    float: left;
                }
            }
        }

    }
    .memberList {
        .memberColumns {
            .threeBlock {
                margin-left: 0;
                margin-right: 0;
            }
            .blockCol {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .memberHeader {

        .blockLanguage {
            margin-top: 10px;
            float: left;
            width: 100%;
            position: relative;
            .userLogin, .language {
                position: relative;
            }
            .userLogin {
                float: left;
            }
        }
        .tradeLogo {
            display: table;
            float: none;
            margin: 20px auto;
            img {
                width: 175px;
            }
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .memberHeader {
        .buyBox {
            width: 100%;
            .buyCol{
                width: 100%;
            }
        }
    }
    header .language{
        position: absolute;
        top: 0;
        right: 0;
    }
    .tradeListPage {
        padding-bottom: 80%;
        &.tradeLists {
            margin-top: -30%;
        }
        .tradeTable{
            margin-bottom: 100px;
        }
        .paging {
            float: left;
        }
    }
    .tradeCoinHeader {
        .bgNavigation {
            float: left;
            width: 100%;
        }
        .bgHeader {
            position: relative;
            padding-bottom: 20px;
        }
        .tradeSearch {
            width: 100%;
            margin-left: 0;
            margin-top: 25px;
        }
        .userLogin {
            position: absolute;
            top: 0px;
            right: 10px;
        }
        .navigationBar {
            padding-top: 17px;
            padding-bottom: 17px;
            float: left;
            width: 100%;
            &:after{
                content: "";
                clear: both;
            }
            li {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .homeSlider {
        .slick-slide {
            .slide-box {
                font-size: 37px;
            }
        }
    }
    .container {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .homeTask {
        margin-top: -26%;
        min-height: 1057px;
        background-position: top center;
        .navigation {
            .btn {
                margin-bottom: 2%;
                width: 47%;
                margin-left: 1%;
                margin-right: 1%;
            }
        }
    }
    header {
        nav{
            float: none;
            display: table;
            margin: 15px auto 0;
            ul {
                li{
                    margin: 0 8px;
                    a.btn {
                        width: 110px;
                    }
                }
            }
        }
        .language  {

        }
    }
    .memberBox {
        .memberCol  {
            width: 100%;
            position: relative;
            overflow-x: auto;
            &.newMember {
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
    .advantage {
        .threeBlock {
            .blockCol {
                width: 90%;
                margin-bottom: 25px!important;
                &.col2 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    .registerProcess {
        .fiveBlock {
            .blockCol {
                &:after{
                    background: url(../images/icon-arrow-down.png) no-repeat center;
                    width: 100%;
                    height: 17px;
                    float: none;
                    display: table;
                    margin: 25px auto;
                }
                .blockheader {
                    display: table;
                    margin: 0 auto;
                    float: none;
                }

            }
        }
    }
    .tradeLists {
        margin-top: -80%;
        padding-top: 65%;
        min-height: 1400px;
        .tradeTable{
            float: left;
            width: 100%;
            position: relative;
            overflow-x: auto;
            .tradeTitle, .tradeContent{
                width: 1200px;
            }
        }
    }
    .tradeCoin {
        .tradeCoinContent {
            .bigThumb {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .rightTrade{
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .memberBox {
         .newMember {
             .memRow {
                 width: 560px;
             }
         }
        .newMemberScroll {
            float: left;
            width: 100%;
            overflow-x: auto;
        }
    }
    .roadMap {
        margin-top: -65%;
        min-height: 4600px;
        h3 {
            padding-top: 63%;
        }
        .roadBox {
            padding-top: 0;
            .lineProcess{
                display: none;
            }
            .road {

                width: 100%!important;
                padding-top: 0!important;
                margin-bottom: 27px!important;
                .arr{
                    display: none;
                }
                &.r02, &.r03, &.r04, &.r05,&.r06 {
                    margin: 0;
                }
                img {
                    min-width: 49px;
                }
                .roadInfo{
                    width: 74%!important;
                }
            }
        }
    }
    .teamMembers {
        h3 {
            padding-top: 100px;
        }
        .col {
            width: 100%;
            .bgAvatar{
                background-position: center;
            }
        }
    }
    .partnerSlider{
        width: 87%;
        .slick-slide {
            img{
                display: table;
                margin: 0 auto;
            }
        }
        .slick-arrow{
            &.slick-prev {
                left: -10px;
            }
            &.slick-next {
                right: -10px;
            }
        }
    }
    .newsList {
        .threeBlock {
            .blockCol {
                width: 100%;
                margin-bottom: 20px!important;
                &.col2 {
                    margin:0;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .commingSoon {
            margin-top: -50%;
        .commingBox {
            padding-top: 50%;
            img {
                width: 100%;
            }
            .googlePlay{

                a {
                    margin-bottom: 10px;
                    display: table;
                    float: none;
                }
            }
        }
    }
    footer {
        .subscribeBox {
            img {
                width: 100%;
            }
        }
        .subscribeForm {
            input[type="text"] {
                width: 90%;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}
@media (min-width: 0) and (max-width: 540px) {
    .homeTask {
        margin-top: -38%;
        .navigation {
            width: auto;

            .btn {
                display: table;
                margin: 0 auto 2%;
                float: none;
                width: 90%;
            }
        }
    }
    footer {
      .subscribeForm {
        width: 100%;
        input {
          width: 100% !important;
        }
      }
    }
}

@media (min-width: 0) and (max-width: 991px) {
    .wrapper .advantage .threeBlock .blockCol {
      width: 100%;
      min-height: auto;
      height: 100%;
      background-size: 100%;
      background-position: bottom center;
    }
}

@media (min-width: 0) and (max-width: 548px) {
  .tradeDetail .memberComment .showComment .showCommentItem {
    height: 148px !important;
    .showCommentItem-content {
      margin-top: 6px;
    }
  }
}

@media (min-width: 0) and (max-width: 432px) {
  footer .social .socialBox a {
    width: 35px;
    height: 35px;
    background-size: cover !important;
  }
}
