@media (min-width: 1199px) and (max-width: 1920px) {
  .newsList .threeBlock .blockCol img {
    width: 100%
  }

  .roadMap {
    min-height: 2060px;
  }
  .memberList .memberRight {
    width: 85%;
  }

}

@media (min-width: 767px) and (max-width: 1920px) {
  .memberList {
    margin-bottom: 17%;
  }
}


@media (min-width: 0) and (max-width: 767px) {
    body {
        min-width: 375px;
    }
  body.popup-opening {
    header, footer, .tradeDetail {
      display: none;
    }
    .wrapper {
      padding: 20px 0;
    }
    &:after {
      opacity: 1;
    }
    .popup-vaokeo {
      position: relative;
      margin: auto;
      left: 0;
      top: 0;
      transform: translate(0,0);
      .inner {
        &-content {
          width: 100%;
          label {
            float: none;
            width: 100%;
            padding-right: 0;
            text-align: left;
          }
          .col-9 {
            width: 100%;
            float: none;
            &.col-6 {
              width: 79%;
              float: left;
              margin-right: 0;
            }
          }
        }
      }
    }
  }
    .advertise.type2 {
        background-size: cover;
            padding-bottom: 38px;
        .advCol {
            margin-bottom: 20px;
            float: left;
            width: 100%;
            .info {
                padding-top: 10px;
            }
            img {

            }
        }
    }
    .referralLink {
        .referalInfo {
            width: 100%;
            margin-top: 20px;
            .referalRow {
                padding-left: 0;
                .title {
                    text-align: left;
                }
                .desc {
                    width: 50%;
                }
                input[type="text"] {
                    width: 100%;
                }
                a.copy {
                    float: left;
                    margin-top: 5px;
                }
            }
        }
        .col-md-6 {
            &:after{
                content: "";
                clear: both;
                display: block;
            }
            &.borderLeft {
                border-left: none;
                margin-top: 20px;
                margin-bottom: 15px;
            }
        }
    }
    .invitationBox {
        .easy-tree {
            margin-left: 0;
        }
    }
    .eventDetail ul {
        width: 100%;
    }
    .memberList {
        .headerInformation{
            &.forUpdateProfile {
                .memberRight {
                    .memberBottom {
                        .floatLeft {
                            margin-right: 20px;
                            padding-right: 10px;
                            min-height: 70px;
                            &.morderate {
                                margin-right: 0;
                                width: 25%;
                            }
                            &.iconview {
                                background: transparent;
                                b {
                                    display: table;
                                    padding-right: 30px;
                                    background: url(../images/icon-view.png) no-repeat right top;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .profileBox {
        .borderBox {
            .chooseVerify{
                &::before{
                    display: none;
                }
                .form-check {
                    margin-bottom: 30px;
                }
            }
        }
        .accountInformation {
            .passWordBox {
                margin-top: 30px;
            }
            .displayAccount  {
                .accountRow {
                    .titleCol {
                        width: 100%;
                    }
                    .nameCol {
                        margin-top: 10px;
                    }
                    .nameCol {
                        margin-top: 10px;
                    }
                }
                .uploadCMND {
                    i {
                        margin-top:0;
                        margin-left: 0;
                        margin-bottom: 20px;
                    }
                }
            }
            .subBox {
                .borderBtn {
                    float: left;
                }
            }
            .googleAuthor {
                .subTitle {
                    padding-bottom: 10px;
                    width: 100%;
                }
            }
        }
        .notificationBox {
            .settingRow {
                .settingTitle {
                    width: 70%;
                }
                .settingRadio {
                    float: right;
                }
            }
        }
    }
    .transactionTable {
        position: relative;
        width: 100%;
        overflow: auto;
        .tradeTitle, .tradeContent {
            width: 1200px;
        }
    }
    .advertise {
        height: auto;
        .img {
            margin-top: 11px;
            img {
                width: 100%;
            }
            a {
                display: table;
                margin: 10px auto;
            }
        }
    }
  .upgradeAcc.payMents {
    .rowTable {
      .col-md-12 {
        text-align: left;
        .blockPayments {
          display: block;
          .blockLeft {
            width: 100%;
            padding: 42px 30px 42px 30px;
          }
          .blockRight {
            width: 100%;
            .card_number {
              width: 100%;
            }
            .blockContent {
              &_inner {
                .item {
                  display: block !important;
                  span.fLeft {
                    width: 100% !important;
                    margin-right: 0 !important;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .upgradeAcc {
    .rowTable .container .col-md-12 .colTable {
      margin-right: 0;
      margin-bottom: 50px;
    }
    .rowTable .col-md-12 {
      padding: 0;
    }
  }
  .popup-for-login.popup {
    .close {
      top: 25px;
      right: 22px;
    }
    .inner {
      position: relative;
      top: 0;
      left: 0;
      width: 80%;
      margin: auto;
      padding: 80px 0;
      transform: translate(0,0);
    }
    .inner-header {
      img {
        float: none;
        margin: 0 auto 10px;
        display: table;
        max-width: 200px;
      }
      .fRight {
        display: block;
        width: 100%;
        text-align: center;
        li:hover, a.active {
          a:after {
            bottom: -21px;
          }
        }
         a.active {
             &:after {
               bottom: -21px;
             }
         }
      }
    }
    .inner-content {
      .signup, .signin {
        .socials {
          max-width: 320px;
          width: 90%;
          a {
            margin: 0;
            width: 100%;
            &:first-child {
              margin-bottom: 15px;
            }
          }
        }
        form .inputIcon {
          float: none;
          width: 80%;
          margin: 0 auto 10px;
        }
      }
      .signin {
        form {
          max-width: 320px;
          .inputIcon {
            width: 100%;
          }
        }
      }
    }
  }
  .home.popup-opening {
    overflow: auto;
    .wrapper {
      display: none;
    }
  }
  .tradeDetail {
    .memberDescription {
      .memberDescription__left {
        width: 100%;
        .memberDescription__left--content {
          width: 100%;
          float: none;
        }
        img.avatar {
          float: none;
          display: table;
          margin: 0 auto 20px;
        }
      }
      .memberDescription__right {
        float: left;
        width: 100%;
        margin-top: 15px;
        text-align: left;
      }
    }
  }
    .videoBg {
        height: 120%;
    }
    .roadMap{
        .partners {
            h3 {
                padding-top: 80px;
            }
        }
    }
    footer {
      .social .socialBox a {
        margin: 0 10px;
      }
      .social .socialBox a:first-child {
        margin: 0 10px 0 0;
      }
      .social .socialBox a:last-child {
        margin: 0 0 0 10px;
      }
    }
    video {
        width: auto!important;
    }
    .topSocials {
        float: left;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .memberList {
        .headerInformation {
            .memberAvatar {
                width: 100%;
                margin-right: 0;
                img {
                    display: table;
                    margin: 0 auto;
                }
            }
        }
        .memberRight {
            margin-top: 20px;
            .memberTop {
                .nameBox{
                    min-width: auto;
                    width: 100%;
                    margin-bottom: 25px;
                }
                .pointBox {
                    padding-left: 0;
                    width: auto;
                    display: table;
                    margin: 0 auto 25px;
                    float: none;
                }
                .pointPercent {
                    width: 100%;
                    padding-left: 0;
                    margin-left: 0;
                    .progressBar {
                        width: 100%;
                    }
                }
            }
            .memberMiddle {
                .floatLeft {
                    width: 100%;
                    margin-bottom: 15px;
                }
                .smallSocials {
                    a {
                        margin-left: 0;
                        margin-right: 15px;
                    }
                }
            }
            .memberBottom {
                .floatLeft {
                    width: 30%;
                    margin-right: 15px;
                    min-height: 50px;
                    margin-bottom: 20px;
                    &.morderate{
                        margin-right: 0;
                    }
                }
                .iconfollowers{
                    float: left;
                }
            }
        }

    }
    .memberList {
        .memberColumns {
            .threeBlock {
                margin-left: 0;
                margin-right: 0;
            }
            .blockCol {
                width: 100%;
                margin-left: 0;
                margin-right: 0;
            }
        }
    }

    .memberHeader {

        .blockLanguage {
            margin-top: 10px;
            float: left;
            width: 100%;
            position: relative;
            .userLogin, .language {
                position: relative;
            }
            .userLogin {
                float: left;
            }
        }
        .tradeLogo {
            display: table;
            float: none;
            margin: 20px auto;
            img {
                width: 175px;
            }
        }
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .memberHeader {
        .buyBox {
            width: 100%;
            margin-left: 0;
            .buyCol{
                width: 100%;
            }
        }
    }
    header .language{
        position: absolute;
        top: 0;
        right: 0;
    }
    .tradeListPage {
        padding-bottom: 80%;
        &.tradeLists {
            margin-top: -30%;
        }
        .tradeTable{
            margin-bottom: 100px;
        }
        .paging {
            float: left;
            width: 1200px;
            text-align: left;
        }
    }
    .memberSearch {
        h3 {
            margin-bottom: 15px;
        }
        .memberSearchForm {
            .col-md-5 {
                margin-bottom: 15px;
                float: left;
                width: 100%;
                &.noPaddingLeft {
                    padding-right: 0;
                }
            }
            .col-md-2 {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    .tradeCoinHeader {
        .bgNavigation {
            float: left;
            width: 100%;
        }
        .bgHeader {
            position: relative;
            padding-bottom: 20px;
        }
        .tradeSearch {
            width: 100%;
            margin-left: 0;
            margin-top: 25px;
        }
        .userLogin {
            position: absolute;
            top: 0px;
            right: 10px;
        }
        .navigationBar {
            padding-top: 17px;
            padding-bottom: 17px;
            float: left;
            width: 100%;
            &:after{
                content: "";
                clear: both;
            }
            li {
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }
    .homeSlider {
        .slick-slide {
            .slide-box {
                font-size: 37px;
            }
        }
    }
    .container {
        width: auto;
        padding-left: 15px;
        padding-right: 15px;
    }
    .homeTask {
        margin-top: -26%;
        min-height: 1057px;
        background-position: top center;
        .navigation {
            .btn {
                margin-bottom: 2%;
                width: 47%;
                margin-left: 1%;
                margin-right: 1%;
            }
        }
    }
    header {
        nav{
            float: none;
            display: table;
            margin: 15px auto 0;
            ul {
                li{
                    margin: 0 8px;
                    a.btn {
                        width: 110px;
                    }
                }
            }
        }
        .language  {

        }
    }
    .memberBox {
        .memberCol  {
            width: 100%;
            position: relative;
            overflow-x: auto;
            &.newMember {
                margin-left: 0;
                margin-top: 25px;
                min-height: 700px;
            }
        }
    }
    .advantage {
        .threeBlock {
            .blockCol {
                width: 90%;
                margin-bottom: 25px!important;
                &.col2 {
                    margin-left: 0;
                    margin-right: 0;
                }
            }
        }
    }
    .registerProcess {
        .fiveBlock {
            .blockCol {
                &:after{
                    background: url(../images/icon-arrow-down.png) no-repeat center;
                    width: 100%;
                    height: 17px;
                    float: none;
                    display: table;
                    margin: 25px auto;
                }
                .blockheader {
                    display: table;
                    margin: 0 auto;
                    float: none;
                }

            }
        }
    }
    .tradeLists {
        margin-top: -220px;
        padding-top: 230px;
        min-height: 1400px;
        .tradeTable{
            float: left;
            width: 100%;
            position: relative;
            overflow-x: auto;
            .tradeTitle, .tradeContent{
                width: 1200px;
            }
            &.tableType2 {
                position: relative;
                overflow-x: auto;
                .tradeTitle, .tradeContent {
                    width: 1200px;
                }
            }
        }
    }
    .tradeCoin {
        .tradeCoinContent {
            .bigThumb {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .rightTrade{
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .memberBox {
         .newMember {
             .memRow {
                 width: 560px;
             }
         }
        .newMemberScroll {
            float: left;
            width: 100%;
            overflow-x: auto;
        }
    }
    .roadMap {
        margin-top: -230px;
        min-height: 4600px;
        h3 {
            padding-top: 250px;
        }
        .roadBox {
            padding-top: 0;
            .lineProcess{
                display: none;
            }
            .road {

                width: 100%!important;
                padding-top: 0!important;
                margin-bottom: 27px!important;
                .arr{
                    display: none;
                }
                &.r02, &.r03, &.r04, &.r05,&.r06 {
                    margin: 0;
                }
                img {
                    min-width: 49px;
                }
                .roadInfo{
                    width: 74%!important;
                }
            }
        }
    }
    .teamMembers {
        h3 {
            padding-top: 100px;
        }
        .col {
            width: 100%;
            .bgAvatar{
                background-position: center;
            }
        }
    }
    .partnerSlider{
        width: 87%;
        .slick-slide {
            img{
                display: table;
                margin: 0 auto;
            }
        }
        .slick-arrow{
            &.slick-prev {
                left: -10px;
            }
            &.slick-next {
                right: -10px;
            }
        }
    }
    .newsList {
        .threeBlock {
            .blockCol {
                width: 100%;
                margin-bottom: 20px!important;
                &.col2 {
                    margin:0;
                }
                img {
                    width: 100%;
                }
            }
        }
    }
    .commingSoon {
            margin-top: -50%;
        .commingBox {
            padding-top: 50%;
            img {
                width: 100%;
            }
            .googlePlay{

                a {
                    margin-bottom: 10px;
                    display: table;
                    float: none;
                }
            }
        }
    }
    footer {
        .subscribeBox {
            img {
                width: 100%;
            }
        }
        .subscribeForm {
            input[type="text"] {
                width: 90%;
                margin-right: 0;
                margin-bottom: 15px;
            }
        }
    }
}
@media (min-width: 0) and (max-width: 540px) {
    .homeTask {
        margin-top: -38%;
        .navigation {
            width: auto;

            .btn {
                display: table;
                margin: 0 auto 2%;
                float: none;
                width: 90%;
            }
        }
    }
    footer {
      .subscribeForm {
        width: 100%;
        input {
          width: 100% !important;
        }
      }
    }
}

@media (min-width: 0) and (max-width: 991px) {
    .wrapper .advantage .threeBlock .blockCol {
      width: 100%;
      min-height: auto;
      height: 100%!important;
      background-size: 100%;
      background-position: bottom center;
    }
}


@media (min-width: 0) and (max-width: 548px) {
  .tradeDetail .memberComment .showComment .showCommentItem {
    height: 148px !important;
    .showCommentItem-content {
      margin-top: 6px;
    }
  }
}

@media (min-width: 0) and (max-width: 432px) {
  footer .social .socialBox a {
    width: 35px;
    height: 35px;
    background-size: cover !important;
  }
}
@media screen and (max-width: 500px) {
  .upgradeAcc .rowTable .container .col-md-12 .colTable {
    width: 95%;
    &.active {
      width: 100%;
    }
  }
}
@media screen and (max-width: 530px) {
  .upgradeAcc.payMents .rowTable .col-md-12 .blockPayments .blockLeft .level {
    span {
      display: block;
      float: none !important;
      &:first-child {
        margin-bottom: 15px;
      }
    }
    &.total {
      display: block;
    }
  }
  .upgradeAcc.payMents .rowTable .col-md-12 .blockPayments .blockRight__title h5, .upgradeAcc.payMents .rowTable .col-md-12 .blockPayments .blockRight__title span {
    display: block;
    float: none;
  }
  .upgradeAcc.payMents .rowTable .blockPayments .blockRight .blockContent_title a {
    display: table !important;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 540px) {
  body .upgradeAcc.payMents .rowTable .col-md-12 .blockPayments.chooseMethod .blockRight__upgradeLevel {
    span {
      display: block;
      float: none;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
  .upgradeAcc.payMents .rowTable .blockPayments.chooseMethod .blockRight__method .method2 .blockItem {
    padding: 17px 16px 46px 27px !important;
  }
  .upgradeAcc.payMents .rowTable .blockPayments.chooseMethod .blockRight__method .blockItem input[type=radio].css-checkbox+label.css-label img {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 580px) {
  body .changePwd .boxInfo_inner {
    .info {
      label {
        margin-right: 0;
        width: 100%;
        text-align: center;
        max-width: none;
      }
      input {
        width: 100%;
        max-width: none;
      }
    }
    a {
      display: table;
      margin: auto;
      width: 80%;
      float: none;
    }
  }
}
@media screen and (max-width: 366px) {
  .memberHeader .buyBox .buyCol a.btnBuy {
    margin-top: 10px;
  }
}
@media screen and (max-width: 393px) {
  .memberList .memberRight .memberTop a.upgradeProfile {
    display: inline-block;
    margin-top: 15px;
  }
}
@media screen and (max-width: 375px) {
  .tradeCoinHeader .userLogin .userBox a {
  }
}
