.greyBg{
    background: #f8f8f8!important;
}
.paging {
    padding-top:37px;
    padding-bottom: 35px;
    background: #fff;
    width: 100%;
    text-align: right;
    &.floatRight {
        float: left;
    }
    a {
        color: #000;
        padding: 6px 11px;
        border-radius: 4px;

        &:hover, &.current {
            color: #fff;
            background: #7fcd45;

        }
    }
}
.floatRight {
    float: right;
}
.tradeListPage {
    margin-top: 0;
    padding-top: 10px;
    color: #000;
    padding-bottom: 30%;
    .paging {
        margin-right: 15px;
    }
    .commonTitle {
        color:#000;
    }
    .tradeContent {
        float: left;
        width: 100%;
        background: #fff;
    }
    h3 {
        background: url(../images/luotsong36px.png) no-repeat left center;
        padding-left: 58px;
        font-size: 48px;
        display: table;
        margin: 0 auto;
        padding-bottom: 13px;
    }
    .tradeTable {
        .tradeTitle {
            background: #1d2131;
            padding: 14px 0;
            color: #fff;
            .col6 {
                text-align: center;
            }
        }
        .tradeContent {
            .tradeRow {
                border-top: none;
                border-bottom: 1px solid #d1d1d1;
                &.pink {
                    background: #fffbec;
                }
                .col6{
                    text-align: center;
                }
                &:last-child {

                }
            }
            .col {
                .comment {
                    background: #fdd342;
                    height: 28px;
                    line-height: 28px;
                    min-width: 43px;
                    display: inline-block;
                    border-radius: 4px;
                    span {
                        color: #fff;
                        background: url(../images/icon-comment.png) no-repeat left center;
                        padding-left: 14px;
                        font-weight: 700;
                    }
                }
                .point {
                    background: #7fcd45;
                    margin-right: 10px;
                    font-weight: 700;
                    color: #fff;
                    text-align: center;
                    min-width: 43px;
                    height: 28px;
                    display: inline-block;
                    border-radius: 4px;
                    line-height: 28px;

                }
            }
        }
    }
}
.floatLeft{
    float: left;
}
.whiteBg {
    background: #fff;
}
.memberList {
    min-height: 65vh;
    padding-bottom: 220px;
    .memberHeaderGray {
        background: #f8f8f8;
    }
    .headerInformation {
        padding-top: 48px;
        padding-bottom: 48px;
        .memberAvatar {
            width: 141px;
            float: left;
            margin-right: 30px;
        }
    }
    .memberRight {
        float: left;
        .memberTop {
            .nameBox {
                float: left;
                min-width: 345px;
            }
            span {
                font-family: "Montserrat-Bold";
                color: #2d2d2d;
                font-size: 24px;
                display: inline-block;
                margin-right: 12px;
                position: relative;
                top: 3px;
            }
            a{
                color: #fff;
                background: url(../images/icon-edit.png) no-repeat 16px center #139bd0;
                padding: 9px 15px 9px 36px;
                border-radius: 4px;
                &:hover {
                    opacity: 0.7;
                }
                &.editProfile {
                    margin-right: 10px;
                }
                &.upgradeProfile{
                    background: url(../images/icon-upgrade.png) no-repeat 16px center #265194;
                }
            }
            .pointBox {
                display: inline-block;
                padding-left: 25px;
                float: left;
                .pointNumber {
                    text-align: right;
                    float: left;
                    margin-right: 10px;
                    b {
                        font-family: "Montserrat-Bold";
                        color: #2a2a2a;
                        display: block;

                    }
                }
                .point {

                    float: left;
                    background: #7fcd45;
                    color: #fff;
                    font-family: "Montserrat-Bold";
                    font-size: 17px;
                    padding: 7px 12px;
                    border-radius: 4px;
                }
            }
            .pointPercent {
                float: right;
                width: 443px;
                margin-left: 60px;
                span {
                    font-family: "Montserrat-Bold";
                    font-size: 18px;
                    float: left;
                }
                .progressBar{
                    position: relative;
                    border-radius: 5px;
                        margin-top: 6px;
                    float: right;
                    width: 360px;
                    .mainProcess {
                        width: 100%;
                        height: 13px;
                    }
                    span {
                        position: absolute;
                        width: 100%;
                        text-align: center;
                        color: #139bd0;
                        font-family: "Montserrat-Bold";
                        top: -25px;
                    }
                    .green {
                        float: left;
                        background: #07bc36;
                        height: 13px;
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                            position: relative;
                    }
                    .red {
                        height: 13px;
                        float: left;
                        background: #ff0000;
                        border-top-right-radius: 4px;
                            position: relative;
                        border-bottom-right-radius: 4px;
                    }
                }
            }
        }

        .memberMiddle {
            margin-top: 24px;
            span {
                color: #9f9f9f;
                padding-left: 22px;
            }
            .visited {
                margin-right: 28px;
                span {
                    background: url(../images/last-visit.png) no-repeat left center;
                }
            }
            .joined {
                margin-right: 28px;
                span {
                    background: url(../images/joined.png) no-repeat left center;
                }
            }
            .location {
                span {
                    background: url(../images/map.png) no-repeat left center;
                }
            }
            .smallSocials {

                a {
                    color:#139bd0;
                    padding-left: 32px;
                    margin-left: 32px;
                    display: inline-block;
                    padding-top: 3px;
                    padding-bottom: 3px;
                    background: url(../images/blue-tw.png) no-repeat left center;
                    &.fb {
                        background: url(../images/blue-fb.png) no-repeat left center;
                    }
                }
            }
        }

        .memberBottom {
            margin-top: 20px;
            .morderate {
                &.floatLeft {
                    margin-right: 40px;
                }
                span {
                    text-align: center;
                    display: inline-block;
                    b {
                        font-size: 15px;
                        display: block;
                        text-transform: uppercase;
                    }
                }

                &.free {
                    span {
                        b {
                            color: #f47b50;
                        }
                    }
                }
                &.normal {
                    span {
                        b {
                            color: #f7bd5c;
                        }
                    }
                }
                &.vip {
                    span {
                        b {
                            color: #3d965f;
                        }
                    }
                }
            }
            span {
                color: #2d2d2d;
            }
            b {
                color: #2d2d2d;
                font-family: "Montserrat-Bold";
                font-size: 24px;
                font-weight: 700;
                display: block;
            }
            .floatLeft {
                padding-right: 26px;
                margin-right: 55px;
            }
            .iconkeo {
                background: url(../images/icon-keo.png) no-repeat right top;
            }
            .iconview {
                padding-right: 32px;
                background: url(../images/icon-view.png) no-repeat right top;
            }
            .iconmment {
                background: url(../images/icon-comment-gray.png) no-repeat right top;
            }
            .iconlike {
                background: url(../images/icon-like.png) no-repeat right top;
            }
            .icondislike {
                background: url(../images/icon-dislike.png) no-repeat right top;
            }
            .iconfollowers {
                padding-right: 32px;
                background: url(../images/icon-followers.png) no-repeat right top;
            }
        }
    }
    .threeBlock {
		margin-top: 48px;
		&:after{
			content: "";
			clear: both;
		}
		.blockCol{
			display: inline-block;
            float: none;
			padding: 18px;
			min-height: 384px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,1,1,0.2);
			-moz-box-shadow: 0px 0px 5px 0px rgba(0,1,1,0.2);
			box-shadow: 0px 0px 5px 0px rgba(0,1,1,0.2);
			border-radius: 8px;
			&.col1 {
			}
			&.col2 {
				margin: 0 6.5%;
			}
			&.col3 {
			}
		}
	}
    .memberColumns {
        .blockCol {
            margin-left: 2%;
            margin-right: 2%;
            margin-bottom: 32px;
            .thumbnail {
                width: 100%;
            }
            .avatarCol{
                padding-bottom: 18px;
                .small {
                    width: 35px;
                    float: left;

                }
                .info {
                    float: left;
                    margin-left: 14px;
                    b {
                        font-size: 18px;
                        color: #2d2d2d;
                        font-family: "Montserrat-Bold";
                        display: block;
                    }
                    span {
                        color: #9f9f9f;
                    }
                }
            }
            .statusCol {
                float: right;
                margin-top: 6px;
                .icon {
                    padding-left: 31px;
                    float: left;
                    padding-top: 5px;
                    padding-bottom: 5px;

                }
                .green {
                    background: #7fcd45;
                    padding: 4px 7px;
                    border-radius: 4px;
                    color: #fff;
                    font-family: "Montserrat-Bold";
                    margin-right: 5px;
                    display: inline-block;
                    margin-top: 2px;
                }
                .yellow {
                    margin-top: 2px;
                    display: inline-block;
                    border-radius: 4px;
                    padding: 4px 7px 4px 19px;
                    color: #fff;
                    font-family: "Montserrat-Bold";
                    background: url(../images/icon-comment.png) no-repeat 4px center #fdd342;
                }
                &.active {
                    font-size: 12px;
                    .icon {
                        background: url(../images/icon-active.png) no-repeat left center;
                        font-size: 12px;
                        margin-right: 10px;
                    }
                }
                &.new {
                    font-size: 12px;
                    .icon {
                        background: url(../images/icon-new.png) no-repeat left center;
                        font-size: 12px;
                        margin-right: 10px;
                    }
                }
                &.done {
                    font-size: 12px;
                    .icon {
                        background: url(../images/icon-check.png) no-repeat left center;
                        font-size: 12px;
                        margin-right: 10px;
                        padding-left: 28px;
                    }
                    .green {
                        background: #12d112;
                    }
                    .yellow {
                        color: #12d112;
                        padding-right: 14px;
                        padding-left: 0;
                        background: url(../images/blue-arrow.png) no-repeat right center transparent;
                        background-size: 11px;
                    }
                }
                &.loss {
                    font-size: 12px;
                    .icon {
                        background: url(../images/icon-check.png) no-repeat left center;
                        font-size: 12px;
                        margin-right: 10px;
                        padding-left: 28px;
                    }
                    .green {
                        background: #ff0000;
                    }
                    .yellow {
                        color: #ff0000;
                        padding-right: 14px;
                        padding-left: 0;
                        background: url(../images/red-arrow.png) no-repeat right center transparent;
                        background-size: 11px;
                    }
                }
            }
            .socialColumn {
                margin-top: 8px;
                margin-bottom: 18px;
                a{
                    color: #9f9f9f;
                    font-size: 12px;
                    background: url(../images/icon-view.png) no-repeat 4px center;
                    background-size: 17px;
                    padding-left: 22px;
                    padding: 4px 5px 4px 25px;
                    margin-right: 14px;
                    &.view {
                        pointer-events: none;
                    }
                    &.comment {
                        background: url(../images/icon-comment-gray.png) no-repeat 4px center;
                        background-size: 10px;
                        pointer-events: none;
                        padding-left: 20px;
                    }
                    &.like {
                        background: url(../images/icon-like.png) no-repeat 6px center #f2f5f8;
                        background-size: 14px;
                        border-radius: 4px;
                        &:hover {
                            background: url(../images/icon-like-white.png) no-repeat 6px center #139bd0;
                            color: #fff;
                            background-size: 14px;
                        }
                    }
                    &.dislike {
                        background: url(../images/icon-dislike.png) no-repeat 6px center #f2f5f8;
                        background-size: 14px;
                        border-radius: 4px;
                        &:hover {
                            background: url(../images/icon-dislike-white.png) no-repeat 6px center #139bd0;
                            color: #fff;
                            background-size: 14px;
                        }
                    }
                    &.heart {
                        background: url(../images/icon-heart.png) no-repeat 6px center #f2f5f8;
                        background-size: 14px;
                        border-radius: 4px;
                        &:hover {
                            background: url(../images/icon-heart-white.png) no-repeat 6px center #139bd0;
                            color: #fff;
                            background-size: 14px;
                        }
                        margin-right: 0;
                    }
                }
            }
            h3 {
                color: #2d2d2d;
                font-size: 18px;
                font-weight: 500;
                font-family: "Montserrat-Medium";
                padding-bottom: 12px;
            }
            p{
                color: #2e2e2e;
                line-height: 1.3;
            }
        }
    }
}

/*page members*/
.members {
  footer {
    min-height: 837px;
    .subscribeBox {
      margin-top: 0;
      padding-top: 0;
    }
  }
}

.memberSearch {
    padding: 73px 0 58px;
    .noPaddingLeft {
        padding-left: 0;
    }
    h3 {
        background: url(../images/medal.png) no-repeat left center;
        padding-left: 40px;
        font-size: 30px;
    }
    .memberSearchForm {
        &>div.col-md-5 {
            span.dateTitle {
                left: 8px;
            }
        }
        span.dateTitle {
            margin-top: 5px;
            color: #2d2d2d;
            font-size: 14px;
            width: 35%;
            float: left;
            margin-top: 12px;
        }
        .input-group {
            float: left;
            width: 65%;
            position: relative;
            .form-control {
                height: 41px;
                padding-right: 35px;
            }
            &.date {
                .input-group-addon {
                    position: absolute;
                    right: 8px;
                    background: url(../images/calendar.png) no-repeat;
                    width: 22px;
                    height: 22px;
                    z-index: 2;
                    top: 9px;
                    border: none;
                }
            }
        }
    }
    .btnSearch {
        background: #139bd0;
        font-size: 14px;
        font-family: "Montserrat-Bold";
        color: #fff;
        text-transform: uppercase;
        height: 41px;
        width: 100%;
    }
}

.advertise {
    background: url(../images/banner-adv.png) no-repeat;
    height: 69px;
    width: 100%;
    background-size: cover;
    .img {
        width: auto;
        display: table;
        margin: 0 auto;
        a {
            font-size: 14px;
            color: #fff;
            border: 1px solid #fff;
            padding: 10px 22px;
            border-radius: 4px;
            margin-left: 95px;

        }
    }
}
.updateProfiles {
    min-height: 100vh;
}
.profileBox {
    h3.medalTitle {
        color: #2d2d2d;
        font-size: 36px;
        background: url(../images/medal.png) no-repeat left center;
        padding-left: 38px;
        display: table;
        margin: 65px auto 55px;
    }
    .borderBox {
        -webkit-box-shadow: 1px 1px 4px 1px rgba(0,1,1,0.1);
        -moz-box-shadow: 1px 1px 4px 1px rgba(0,1,1,0.1);
        box-shadow: 1px 1px 4px 1px rgba(0,1,1,0.1);
        padding-bottom: 35px;
        border-radius: 4px;
        h4 {
            color: #2d2d2d;
            font-family: "Montserrat-Bold";
            font-size: 18px;
            text-transform: uppercase;
            text-align: center;
            padding: 35px 0 25px;
        }
        .chooseVerify {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                width: 100%;
                height: 1px;
                background: #d9d9d9;
                left: 50%;
                margin-left: calc((72px - 100%)/2 );
                top: 47px;
            }
            label {
                display: table;
                margin: 0 auto;
            }
            .label-text {
                padding-top: 115px;
                display: block;
                min-width: 174px;
                text-align: center;
            }
            .privacyInfo {
                .label-text {
                    background: url(../images/hoso/thongtincanhan.png) no-repeat top center;
                }
            }
            .idCard {
                .label-text {
                    background: url(../images/hoso/xacminhsdt.png) no-repeat top center;
                }
            }
            .accountBank {
                .label-text {
                    background: url(../images/hoso/taikhoannganhang.png) no-repeat top center;
                }
            }
            .bagAddress {
                .label-text {
                    background: url(../images/hoso/diachivi.png) no-repeat top center;
                }
            }
        }
    }
    .subBox {
        border: 1px solid #d9d9d9;
        padding: 18px 20px;
    }
    .accountInformation {
        &:after {
            content: "";
            clear: both;
            display: block;
        }
        .displayAccount {
            .accountRow {
                border-bottom: 1px solid #d9d9d9;
                padding-bottom: 14px;
                margin-bottom: 14px;
                float: left;
                width: 100%;
                .col {
                    float: left;
                }
                .titleCol {
                    width: 265px;
                    b {
                        font-size: 14px;
                        font-family: "Montserrat-Bold";
                        text-transform: uppercase;
                        padding-left: 30px;

                        &.nickname {
                            background: url(../images/hoso/nickname.png) no-repeat left center;
                        }
                        &.youremail {
                            background: url(../images/hoso/email.png) no-repeat left center;
                        }
                        &.yourbank {
                            background: url(../images/hoso/icon-taikhoannganhang.png) no-repeat left center;
                        }
                        &.yourbtc {
                            background: url(../images/hoso/vibtc.png) no-repeat left center;
                        }
                        &.youreth {
                            background: url(../images/hoso/vieth.png) no-repeat left center;
                        }
                    }
                }
                .nameCol {
                    width: 215px;
                }
                .editCol {
                    a{
                        background: url(../images/hoso/edit.png) no-repeat;
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                    }
                }
            }
            .uploadCMND{
                .pictureUpload {
                    .fileUpload {
                        margin-bottom: 15px;
                    }
                    &:after{
                        content: '';
                        display: block;
                        clear: both;
                    }
                }
                .floatLeft {
                    width: 100%;
                }
                b{
                    padding-left: 30px;
                    background: url(../images/hoso/upload.png) no-repeat left center;
                }
                img {
                    width: 120px;
                    display: none;
                }
                i {
                    font-size: 12px;
                    font-style: normal;
                    float: left;
                    margin-top: 25px;
                    margin-left: 20px;
                }
            }
        }
        .subBox {
            .subTitle {
                padding-left: 63px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
        .passWordBox {
            padding-left: 30px;
            padding-top: 40px;
            padding-bottom: 40px;
            .subTitle {
                background: url(../images/hoso/matkhaudangnhap.png) no-repeat left center;
            }
        }
        .smsBox {
            padding-left: 30px;
            padding-top: 40px;
            padding-bottom: 40px;
            .subTitle  {
                background: url(../images/hoso/xacthucsms.png) no-repeat left center;
            }
        }

    }
}
