
/* ! PRIMARY STYLES */
html, body{width:100%; min-width:640px; }
body {
	font: $fontArial12; color:#fff;
	background: #fff;
}
a{text-decoration: none;}
.clear{clear:both;}

.content700{width:700px;}
.content820{width:820px;}
.content890{width:890px;}
.content940{width:940px;}

.wrapper{
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.container {
	width: 1200px;
	margin: 0 auto;
}

.homeTask {
	background: url(../images/bg-1.png) no-repeat;
	background-size: cover;
	min-height: 635px;
	width: 100%;
	position: relative;
	margin-top: -125px;
	.navigation {
		padding-top: 125px;
	}
}
