@media (min-width: 992px) and (max-width: 1199px) {
    .memberList {
        .memberRight {
            width: 83%;
            .memberTop {
                .pointPercent {
                    margin-top: 36px;
                    margin-left: 0;
                }
            }
            .memberMiddle {
                .smallSocials {
                    a {
                        margin-left: 22px;
                    }
                }
            }
            .memberBottom {
                .floatLeft {
                    margin-right: 25px;
                    margin-bottom: 25px;
                }
                .morderate{
                    &.floatLeft{
                        margin-right: 0;
                    }
                }
            }
        }
        .headerInformation{
             .memberAvatar{
                 margin-right: 20px;
             }
        }
        .memberColumns {
            .threeBlock {
                margin-left: -18px;
                margin-right: -18px;
            }

            .blockCol{
                margin-left: 18px;
                margin-right: 18px;
            }
        }
    }
    .blockLanguage {
        position: relative;
        top: 2px;
    }
    .tradeCoinHeader {
        .userLogin {

        }
        .tradeSearch {
            width: 55%;
        }
    }
    .container {
        width: 992px;
    }
    .homeTask {
        .navigation {
            .btn {
                min-width: 180px;
            }
        }
    }
    .advantage {
        .threeBlock {
            .blockCol{
                background-size: 100%!important;
                &.col2 {
                }
            }
        }
    }
    .registerProcess {
        .fiveBlock {
            .blockCol {
                &:after {
                    margin: 70px 15px;
                }
                .blockheader {
                    width: 160px;
                }
            }
        }
    }
    .tradeLists {
        margin-top: -19%;
        &.tradeListPage{
            margin-top: 0;
        }
        .tradeTable {
            .col{
                &.col1 {
                    width: 120px;
                }
                &.col2 {
                    width: 300px;
                }
                &.col3 {
                    width: 130px;
                }
                &.col4 {
                    width: 120px;
                }
                &.col6 {
                    text-align: right;
                }
            }
        }
    }
    .tradeCoin {
        .tradeCoinContent {
            .bigThumb {
                img {
                    width: 100%;
                }
            }
            .presentBox {
                .person {
                    width: 50%;
                }
            }
        }
    }
    .memberBox {
         .topMod {
             .topModWidth{
                 width: 100%;
             }
         }
        .memRow {
            .info {
                width: 105px;
            }
            .amount {
                width: 120px;
            }
        }
    }
    .roadMap {
        .roadBox {
            .road{
                &.r01 {

                }
                &.r02 {
                    margin-left: -180px;
                }
                &.r03 {
                    margin-left: 50px;
                }
                &.r04 {
                    margin-left: -142px;
                }
                &.r05 {
                    margin-left: 60px;
                }
                &.r06 {
                    margin-left: -130px;
                }
            }
        }
    }
    .partnerSlider {
        width: 80%;
    }
    .newsList {
        .threeBlock {
            .blockCol {
                img{
                    width: 100%;
                }
                &.col2{
                    margin:0 5%;
                }
            }
        }
    }
    .commingSoon {
        margin-top: -17%;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
  .tradeDetail {
    .memberDescription {
      .memberDescription__left {
        width: 100%
      }
      .memberDescription__right {
        margin-left: 104px;
        float: left;
        width: 90%;
        margin-top: 15px;
        text-align: left;
      }
    }

  }
  video {
    width: auto !important;
    height: auto !important;
  }
    .memberBox {
        .memRow {
            .avatar {
                margin-right: 15px;
            }
        }
    }
    .blockLanguage {
        position: absolute;
        right: 0;
        top: 0;
    }
    .memberList {
        .memberRight {
            width: 75%;
            .memberTop {
                .pointPercent {
                    margin-top: 36px;
                    margin-left: 0;
                }
            }
            .memberMiddle {
                .floatLeft {
                    margin-bottom: 25px;
                }
                .smallSocials {
                    a {
                        margin-left: 0;
                        margin-right: 22px;
                    }
                }
            }
            .memberBottom {
                .floatLeft {
                    margin-right: 25px;
                    margin-bottom: 25px;
                }
                .morderate{
                    &.floatLeft{
                        margin-right: 0;
                    }
                }
                .iconfollowers {
                    float:left;
                }
            }
        }
        .headerInformation{
             .memberAvatar{
                 margin-right: 20px;
             }
        }
        .memberColumns {
            .threeBlock {
            }

            .blockCol{
                width: 45%;
            }
        }
    }
    .memberHeader {
        .bgHeader {
                padding-bottom: 20px;
        }
    }
    .memberHeader {
        .navigationBar  {
            li {
                margin-right: 20px;
            }
        }
    }
    header {
        nav {
            margin-top: 5px;
        }
    }
    .tradeCoinHeader {
        .tradeSearch {
            width: 45%;
        }
    }
    .container {
        width: 740px;
    }
    .homeTask {
        min-height: 700px;
        margin-top: -180px;
        .navigation {
            text-align: center;
            .btn {
                float: none;
                margin-bottom: 15px;
                display: inline-block;
                min-width: 180px;
            }
        }
    }
    .advantage {
        .threeBlock {
            .blockCol{
                width: 50%;
                background-size: 100% !important;
                background-position: bottom center;
                float: none;
                display: table;
                margin: 0 auto 25px;
                &.col2 {
                    margin: 0 auto;
                    margin-bottom: 25px;
                }
            }
        }
    }
    .registerProcess {
        .fiveBlock {
            .blockCol {
                float: left;
                margin-bottom: 30px;
                &:after {
                    margin: 70px 30px;
                }
                .blockheader {
                    width: 160px;
                }
            }
        }
    }
    .tradeLists {
        min-height: 1200px;
        &.tradeListPage{
            margin-top: 0;
        }
        .tradeTable{
            float: left;
            width: 100%;
            position: relative;
            overflow-x: auto;
            .tradeTitle, .tradeContent{
                width: 1024px;
            }
        }
    }
    .tradeLists {
        margin-top: -19%;
        min-height: 1100px;
        .tradeTable {
            .col{
                &.col1 {
                    width: 120px;
                }
                &.col2 {
                    width: 300px;
                }
                &.col3 {
                    width: 130px;
                }
                &.col4 {
                    width: 120px;
                }
                &.col6 {
                    text-align: right;
                }
            }
        }
    }
    .tradeCoin {
        .tradeCoinContent {
            .bigThumb {
                width: 100%;
                img {
                    width: 100%;
                }
            }
            .presentBox {
                .person {
                    width: 50%;
                }
            }
            .rightTrade{
                margin-left: 0;
                width: 100%;
            }
        }
    }
    .memberBox {
        .memberCol  {
            width: 100%;
            position: relative;
            overflow-x: auto;
            &.newMember {
                margin-left: 0;
                margin-top: 25px;
            }
        }
    }
    .memberBox {
         .topMod {
             .topModWidth{
                 width: 100%;
             }
         }
        .memRow {
            .info {
                width: 115px;
            }
            .amount {
                width: 120px;
            }
        }
    }
    .roadMap {
        margin-top: -20%;
        min-height: 2900px;
        h3 {
            padding-top: 20%;
        }
        .roadBox {
            padding-top: 0;
            .lineProcess{
                display: none;
            }
            .road {

                width: 80%!important;
                padding-top: 0!important;
                margin-bottom: 27px!important;
                margin: 0 auto;
                display: table;
                float: none;
                .arr{
                    display: none;
                }
                &.r02, &.r03, &.r04, &.r05,&.r06 {
                    margin: 0 auto;
                    display: table;
                    float: none;
                }
                img {
                    min-width: 49px;
                }
                .roadInfo{
                    width: 74%!important;
                }
            }
        }
    }
    .teamMembers {
        h3{
            padding-top: 100px;
        }
        .col {
            width: 33.33%;
            .bgAvatar {
                background-position: center;
            }
        }
    }
    .partners {
        h3{
            padding-top: 100px;
        }
    }

    .partnerSlider {
        width: 80%;
    }
    .newsList {
        .threeBlock {
            .blockCol {
                width: 46%;
                margin: 0 2% 4% 2% !important;
                img{
                    width: 100%;
                }
                &.col2{
                    margin:0;
                }
            }
            .blockCol {

            }
        }
    }
    .commingSoon {
        margin-top: -17%;
    }
}
