.tradeLists {
    background: url(../images/bg-danhsachkeo.png) no-repeat;
    background-size: cover;
    margin-top: -8%;
    padding-top: 90px;
    color: #fff;
    min-height: 177vh;
    .commonTitle  {
        color:#fff;
        padding-top: 15px;
        margin-top: 70px;
    }
    .tradeTable {
        padding-top: 22px;
        .col {
            float: left;
            &.col1 {
                width: 150px;
                padding-left: 20px;
            }
            &.col2 {
                width: 385px;
            }
            &.col3 {
                width: 210px;
            }
            &.col4 {
                width: 160px;
            }
            &.col5 {
                width: 140px;
            }
            &.col6 {
                width: 125px;
            }
        }
        .tradeTitle {
            float: left;
            width: 100%;
            padding-bottom: 17px;
            .col {
                font-size: 18px;
                font-weight: 700;
            }
        }
    }
    .tradeContent {
        .tradeRow {
            border-top: 1px solid #d1d1d1;
            float: left;
            width: 100%;
            padding-top: 17px;
            padding-bottom: 17px;
            .col {

            }
            .col1 {
                padding-top: 7px;
                span {

                    padding: 5px 0 5px 38px;
                }
                span.new {
                    background: url(../images/icon-new.png) no-repeat left center;
                }
                span.active {
                    background: url(../images/icon-active.png) no-repeat left center;
                }
                span.done {
                    background: url(../images/icon-check.png) no-repeat left center;
                }
            }
            .col2 {
                padding-top: 7px;
            }
            .col3, .col4 {
                font-weight: 700;
            }
            .col3 {

                span {
                    padding-left: 10px;
                    width: 68px;
                    height: 25px;
                    line-height: 25px;
                    display: inline-block;
                    text-align: left;
                    border-radius: 4px;
                    margin-left: 0;
                }
                .green {
                    text-align: center;
                    background: #12d112;
                    color: #fff;
                }
                .red {
                    text-align: center;
                    background: #ff0000;
                    color: #fff;
                }
            }
            .col4 {
                span {
                    font-weight: 700;
                    line-height: 25px;
                    &.green {
                        color: #12d112;
                        background: url(../images/blue-arrow.png) no-repeat right center;
                        padding-right: 28px;
                    }
                    &.red {
                        color: #ff0000;
                        background: url(../images/red-arrow.png) no-repeat right center;
                        padding-right: 28px;
                    }
                }
            }
            .col5 {
                padding-top: 7px;
            }
            .col6 {
                font-size: 12px;
                text-align: right;
                .fa-star {
                    font-size: 13px;
                    margin-left: 5px;
                }
            }
        }

    }
}
.rating {
    margin-top: 3px;
    &.default {
        pointer-events: none;
            margin-right: -17px;
    }
}

.tradeCoin {
    position: relative;
    padding-top: 76px;
    .commonTitle {
        font-size: 36px;
    }
    &:before {
        content: "";
        position: absolute;
        background: url(../images/bg-luoi.png) no-repeat top center;
        background-size: cover;
        top: -155px;
        left: 0;
        width: 100%;
        height: 365px;
        z-index: -1;
    }
    .tradeCoinContent {
        .bigThumb{
            width: 50%;
            float: left;
        }
        .rightTrade {
            width: 47%;
            float: left;
            margin-left: 3%;
            h3 {
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                padding-top: 8px;
            }
            h4 {
                font-size: 18px;
                font-weight: 700;
                padding-top: 20px;
            }
            ul {
                li {
                    background: url(../images/icon-black-check.png) no-repeat left top;
                    padding-left: 35px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    margin-top: 10px;
                }
            }
            a.btn {
                font-size: 16px;
                font-weight: 700;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
        .presentBox {
            margin-top: 17px;
            padding-bottom: 8px;
            .person{
                float: left;
                width: 40%;
                .avatar{
                    float: left;
                    width: 94px;
                }
                .info {
                    float: left;
                    margin-left: 23px;
                    padding-top: 28px;
                    .name {
                        font-size: 18px;
                    }
                    .rating {
                        margin: 0;
                        .fa-star.first{
                            display: none;
                        }
                    }
                }
            }
        }
        .timeRange {
            margin-bottom: 22px;
            .time {
                margin-top: 11px;
                margin-bottom: 5px;
                padding: 5px 0;
                padding-left: 32px;
                background: url(../images/icon-calendar.png) no-repeat left center;
            }
            .location {

                padding: 5px 0;
                padding-left: 32px;
                background: url(../images/icon-map.png) no-repeat left center;
            }
        }

    }
}

.memberBox{
    margin-top: 124px;
    padding-bottom: 200px;
    &:after {

    }
    .memberCol {
        width: 50%;
        float: left;

        h3 {
            font-size: 36px;
            margin-bottom: 48px;
        }
    }
    .newMember{
        width: 47%;
        margin-left: 3%;
        .memRow {
            border-bottom: 1px solid #d1d1d1;
            padding-bottom: 10px;
            margin-bottom: 10px;
            .avatar {
                width: 193px;
                margin-right: 0;
                padding-left: 28px;
                img {
                    width: 36px;
                    float: left;
                    margin-right: 15px;
                }
                span {
                    display: inline-block;
                    margin-top: 10px;
                }
            }
            .memberType {
                float: left;
                span {
                    background-size: 25px;
                    margin-top: 2px;
                    display: inline-block;
                    padding-left: 38px;
                    padding-top: 5px;
                    padding-bottom: 5px;
                    &.free {
        				background:url(../images/member-free.png) no-repeat left center;
        			}
        			&.normal {
        				background:url(../images/member-normal.png) no-repeat left center;
        			}
        			&.vip {
        				background:url(../images/member-vip.png) no-repeat left center;
        			}
                }
            }
            .date {
                float: right;
                margin-top: 5px;
            }
        }
    }
    .topMod {
        .topModWidth {
            width: 562px;
            margin-left: 0;
        }

    }
    .memRow {
        float: left;
        width: 100%;
        margin-bottom: 28px;
        .middle {
            display: table-cell;
            vertical-align: middle;
            height: 98px;
        }
        .avatar{
            float: left;
            width: 94px;
            margin-right: 29px;
        }
        .info {
            float: left;
            width: 145px;
            .name {
                font-size: 18px;
                padding-bottom: 7px;
            }
        }
        .medal {
            float: left;
            width: 58px;
        }
        .amount {
            float: left;
            .middle {
                width: 152px;
                text-align: right;
            }

            b {
                font-weight: 700;
                display: block;
            }
        }
        .point {
            float: right;
            font-size: 18px;
            font-weight: 700;
            span{
                background: #7fcd45;
                color: #fff;
                border-radius: 4px;
                padding: 10px 13px;
            }
        }
    }
}
.gradientText {
    text-align: center;
    background: linear-gradient(330deg, #b47a1a 0%, #ffe55a 30%, #ffec88 52%, #ffe55a 66%, #b47a1a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 36px;
    margin-bottom: 110px;
}
.roadMap {
    background: url(../images/bg-doitac.png) no-repeat top center;
    background-size: cover;
    min-height: 2050px;
    margin-top: -12%;
    padding-top: 12%;
    color: #fff;
    h3 {
        padding-top: 100px;
        text-align: center;
        background: linear-gradient(330deg, #b47a1a 0%, #ffe55a 30%, #ffec88 52%, #ffe55a 66%, #b47a1a 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 36px;
        margin-bottom: 110px;
    }
    .roadBox {
        position: relative;
        padding-top: 122px;
        .lineProcess {
            width: 100%;
            height: 7px;
            background: url(../images/lineGradient.png) no-repeat;
        }
        .road {
            float: left;
            position: relative;
            width: 240px;
            img {
                float: left;
                margin-right: 18px;
            }
            .roadInfo{
                float: left;
                width: 173px;
                b {
                    font-size: 18px;
                    font-weight: 600;
                    font-style: italic;
                }
            }
            .arr {
                background: url(../images/arrow-white.png) no-repeat;
                width: 18px;
                height: 18px;
                position: absolute;
            }
            &.r01{
                padding-top: 27px;

                .arr {
                    top: -13px;
                }
                .roadInfo {
                    width: 155px;
                }
            }
            &.r02{
                margin-top: -111px;
                margin-left: -80px;
                width: 287px;
                .roadInfo {
                    width: 200px;
                }
                .arr {
                    bottom: -38px;
                    left: 53px;
                }
            }
            &.r03{
                padding-top: 27px;
                margin-left: 97px;
                .roadInfo{
                    width: 168px;
                }
                .arr {
                    top: -13px;
                    left: 75px;
                }
            }
            &.r04{
                margin-top: -111px;
                margin-left: -60px;
                .roadInfo{
                    width: 168px;
                }
                .arr {
                    bottom: -38px;
                    left: 75px;
                }
            }
            &.r05{
                padding-top: 27px;
                margin-left: 130px;
                .roadInfo{
                    width: 168px;
                }
                .arr {
                    top: -13px;
                    left: 75px;
                }
            }
            &.r06{
                margin-top: -111px;
                margin-left: -10px;
                .arr {
                    bottom: -38px;
                    left: 65px;
                }
            }
        }
    }
}

.teamMembers {
    .gradientText {
        margin-bottom: 60px;
    }
    .col {
        float: left;
        text-align: center;
        width: 25%;
        margin-bottom: 25px;
        .bgAvatar {
            background: url(../images/bg-teammember.png) no-repeat 12px center;
            min-height: 276px;
            .avatar {
                margin-top: 70px;
                width: 149px;
                height: 149px;
                overflow: hidden;
                position: relative;
                border-radius: 50%;
                display: inline-block;
            }
        }
        .memberName {
            font-size: 18px;
            text-transform: uppercase;
        }
    }
}
.partnerSlider  {
    width: 1024px;
    margin: 0 auto;
    .slick-arrow {
        position: absolute;
        top: 25px;
        &.slick-prev {
            background: url(../images/partner-arrow-left.png) no-repeat;
            border: none;
            text-indent: -99999px;
            left: -50px;
        }
        &.slick-next {
            right: 0;
            background: url(../images/partner-arrow-right.png) no-repeat;
            border: none;
            text-indent: -99999px;
            right: -50px;
        }
        &:focus {
          outline: none;
        }
    }

}

.newsList {
    padding-bottom: 150px;
    h3 {
        color: #212121;
        font-size: 36px;
        text-align: center;
        padding-top: 45px;
        padding-bottom: 75px;
    }
    .publicActions{
        padding-top: 95px;
    }
    a.btn {
        display: table;
        margin: 0 auto;
            float: none;
    }
    .threeBlock {
        margin-bottom: 35px;
        .blockCol {
            float: left;
            padding: 18px;
            -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
            -moz-box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
            box-shadow: 0px 0px 5px 0px rgba(0, 1, 1, 0.2);
            border-radius: 8px;
            &.col2 {
            }
            .desc {
                padding-top: 20px;
                p {
                    color: #212121;
                    font-size: 14px;
                    padding-bottom: 20px;
                    &:last-child {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
}

.commingSoon {
    background: url(../images/bg-commingsoon.png) no-repeat ;
    background-size: cover;
    min-height: 761px;
    margin-top: -10%;
    position: relative;
    z-index: 1;
    .commingBox {
        padding-top: 17%;
        margin: 0 auto;
        width: auto;
        display: table;
    }
    .googlePlay {
        display: table;
        margin: 30px auto 0;
        a {
            background: url(../images/googleplay.png) no-repeat left center;
            width: 210px;
            height: 62px;
            float: left;
            &.gp {

            }
            &.ap{
                background-position: right 0;
            }
        }
    }
}
