.tradeDetail {
  margin-bottom: 26%;
  .memberDescription {
    padding-top: 46px;
    padding-bottom: 23px;
    display: table;
    width: 100%;
    &__left {
      float: left;
      width: 59%;
      img {
        margin-right: 27px;
        float: left;
      }
      &--content {
        float: left;
        width: 80%;
        h4 {
          font-family: 'Montserrat-Medium';
          font-size: 24px;
          margin-bottom: 10px;
          line-height: 1.3;
        }
        .content-wrapper {
          .name {
            font-family: 'Montserrat-Bold';
            margin-bottom: 10px;
            line-height: 1.3;
            display: inline-block;
          }
          .desc {
            span, a {
              color: #9f9f9f;
              font-family: 'Montserrat-Regular';
              font-size: 12px;
              display: inline-block;
              margin-right: 15px;
            }
            a {
              background: url(../images/icon-view.png) no-repeat 4px center;
              background-size: 17px;
              padding-left: 22px;
              padding: 4px 5px 4px 25px;
              background-size: 14px;
              border-radius: 4px;
              &.heart {
                background: url(../images/icon-heart.png) no-repeat 6px center #f2f5f8;
                background-size: 14px;
                border-radius: 4px;
                margin-right: 0;
                &:hover {
                  background: url(../images/icon-heart-white.png) no-repeat 6px center #139bd0;
                  color: #fff;
                  background-size: 14px;
                }
              }
              &.like {
                background: url(../images/icon-like.png) no-repeat 6px center #f2f5f8;
                background-size: 14px;
                border-radius: 4px;
                &:hover {
                  background: url(../images/icon-like-white.png) no-repeat 6px center #139bd0;
                  color: #fff;
                  background-size: 14px;
                }
              }
              &.comment {
                background: url(../images/icon-comment-gray.png) no-repeat 4px center;
                background-size: 10px;
                pointer-events: none;
                padding-left: 20px;
              }
            }
          }
        }
      }
    }
    &__right {
      float: right;
      width: 41%;
      margin-top: 65px;
      text-align: right;

      span {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 15px;

        &:last-child {
          margin-right: 0;
        }
      }

      .status {
        padding: 5px 0 5px 38px;
        background: url(../images/icon-check.png) no-repeat left center;
      }
      .win {
        text-align: center;
        background: #12d112;
        color: #fff;
        padding-left: 10px;
        width: 68px;
        height: 27px;
        line-height: 27px;
        display: inline-block;
        border-radius: 4px;
        margin-left: 0;
      }
      .percent {
        color: #12d112;
        background: url(../images/blue-arrow.png) no-repeat right center;
        padding-right: 28px;
        font-weight: 900;
        line-height: 25px;
      }

      &--btn {
        color: #fff;
        height: 28px;
        line-height: 28px;
        font-weight: bold;
        padding: 0 10px;
        border-radius: 2px;

        &.btn-green {
          background: #7fcd45;
        }
        &.btn-yellow {
          background: url("../images/icon-comment.png") no-repeat 7px center #fdd342;
          padding-left: 22px;
        }
      }
    }
  }
  .memberContent {
    margin-top: 35px;
    margin-bottom: 50px;
    p {
      margin-bottom: 23px;

      &.hasicon {
        padding: 5px 0 5px 30px;
        &.canhmua {
          background: url('../images/icon-canhmua.png') left center no-repeat;
        }
        &.choitu {
          background: url('../images/icon-choitu.png') left center no-repeat;
        }
        &.stoplos {
          background: url('../images/icon-stoplos.png') left center no-repeat;
        }
      }
    }
    .btn {
      display: table;
      margin: 90px auto 0;
      background: #cccccc;
      float: none;
      text-transform: uppercase;
      padding: 0 77px;
    }
  }
  .memberComment {
    textarea {
      border: 1px solid #d9d9d9;
      border-radius: 4px;
      width: 100%;
      height: 150px;
      padding: 20px;
    }
    .btn {
      font-weight: bold;
      font-size: 14px;
      float: right;
      border-radius: 4px;
      margin-top: 20px;
      margin-bottom: 35px;
    }
    .showComment {
      clear: both;
      .showCommentItem {
        clear: both;
        height: 78px;
        margin-bottom: 50px;
        img {
          float: left;
          margin-right: 19px;
        }
        &-content {
          float: left;
          p.name {
            margin-bottom: 12px;

            b {
                margin-right: 11px;
                display: inline-block;
            }
            span {
              font-size: 12px;
              color: #747474;
            }

          }
          p.content {
            margin-bottom: 10px;
          }
          a.reply {
            cursor: pointer;
            padding-left: 25px;
            background: url('../images/icon-reply.png') left center no-repeat;
            color: #0392ed;
          }
        }
      }
    }
  }
}
